<nav>
    <ol class="breadcrumb">
        <!-- <li class="breadcrumb-item"><a routerLink="/">Home</a></li> -->
        <li class="breadcrumb-item active">Deal Status Master</li>
    </ol>
</nav>

<!-- Deal Status Grid -->
<div class="table-responsive mt-4" *ngIf="error !== 'Unknown Error'" >
    <div class="col-12 mx-auto tool-bar margin-bottom-10">
        <button type="button" class="btn btn-primary" (click)="openModal()">Create Deal Status</button>
    </div>
    <div class="col-12 mx-auto">
        <table class="table">
            <thead>
                <th style="display: none;">Deal Status ID</th>
                <th>Deal Status Name</th>
                <th>Created By</th>
                <th>Created On</th>
                <th>Modified By</th>
                <th>Modified On</th>
                <th>Actions</th>
            </thead>
            <tbody>
                <tr
                    *ngFor="let dealStatus of dealStatusList | paginate: { itemsPerPage: 100, currentPage: p }; let i = index">
                    <td style="display: none;">{{dealStatus.dealStatusID}}</td>
                    <td title="{{dealStatus.dealStatusName}}" style="width: 20%">
                            <p style="width: auto;
                            max-width: 300px;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;">{{dealStatus.dealStatusName}}</p>
                        </td>
                    <td>{{dealStatus.CreatedBy}}</td>
                    <td>{{dealStatus.CreatedOn |  date : "dd-MM-yyyy"}}</td>
                    <td>{{dealStatus.ModifiedBy}}</td>
                    <td>{{dealStatus.ModifiedOn |  date : "dd-MM-yyyy"}}</td>
                    <td>
                        <button class="btn" style="padding: 0px;box-shadow: none;margin-right: 14px;" (click)="onEditClick(dealStatus, i)"><img src="../../../assets/pencil.png" width="25px" title="Edit"></button>&nbsp;
                        <button class="btn" style="padding: 0px;box-shadow: none;" (click)="onDeleteClick($event, i)"><img src="../../../assets/delete.png" width="20px" title="Delete"></button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div style="text-align: center;">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div>

<div *ngIf="error === 'Unknown Error'" style="padding: 50px;color: red;font-style: italic;text-align: center;">
<p>Something went wrong. Please try again.</p>
</div>

<!-- New Deal Status Entry -->
<form [formGroup]="dealStatusForm" (ngSubmit)="onSaveClick()">
    <div class="modal" id="newModal" [ngStyle]="{'display':display}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">New Deal Status</div>
                    <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()">
                        <span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">

                    <div class="form-group row">
                        <label for="dealStatusName" class="col-sm-4 col-form-label">Deal Status Name</label>
                        <div class="col-sm-8">

                            <input type="text" formControlName="dealStatusName" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.dealStatusName.errors }" />
                            <div *ngIf="submitted && f.dealStatusName.errors" class="invalid-feedback">
                                <div *ngIf="f.dealStatusName.errors.required">Deal Status Name is required</div>
                            </div>

                        </div>
                        
                        <input type="text" formControlName="createdBy" [(ngModel)]="createdBy" class="form-control" style="display: none" />
                        <input type="text" formControlName="modifiedBy" [(ngModel)]="modifiedBy"class="form-control" style="display: none" />
                    </div>

                </div>
                <div class="modal-footer">

                    <button class="btn btn-secondary" type="reset" (click)="onCloseHandled()">Cancel</button>

                    <button [disabled]="loading" class="btn btn-success">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Edit Deal Status -->
<form [formGroup]="editDealStatusForm" (ngSubmit)="onUpdateClick()">
    <div class="modal" id="editModal" [ngStyle]="{'display': editDisplay}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">Edit Deal Status</div>
                    <button type="button" class="close" aria-label="Close" (click)="onEditCloseHandled()">
                        <span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">

                    <div class="form-group row">
                        <label for="dealStatusID" class="col-sm-4 col-form-label">Deal Status ID</label>
                        <div class="col-sm-8">
                            <input type="text" formControlName="dealStatusID" class="form-control" readonly=""
                                [ngClass]="{ 'is-invalid': editSubmitted && fedit.dealStatusID.errors }" />
                            <div *ngIf="editSubmitted && fedit.dealStatusID.errors" class="invalid-feedback">
                                <div *ngIf="fedit.dealStatusID.errors.required">Deal Status ID is required</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="dealStatusName" class="col-sm-4 col-form-label">Deal Status Name</label>
                        <div class="col-sm-8">
                            <input type="text" formControlName="dealStatusName" class="form-control"
                                [ngClass]="{ 'is-invalid': editSubmitted && fedit.dealStatusName.errors }" />
                            <div *ngIf="editSubmitted && fedit.dealStatusName.errors" class="invalid-feedback">
                                <div *ngIf="fedit.dealStatusName.errors.required">Deal Status Name is required</div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="reset" (click)="onEditCloseHandled()">Cancel</button>

                    <button [disabled]="editLoading" class="btn btn-success">
                        <span *ngIf="editLoading" class="spinner-border spinner-border-sm mr-1"></span>
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Delete Deal Status-->
<form [formGroup]="deleteDealStatusForm" (ngSubmit)="onDeleteConfirmClick()">
    <div class="modal" id="deleteModal" [ngStyle]="{'display': deleteDisplay}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">Delete Deal Status</div>
                    <button type="button" class="close" aria-label="Close" (click)="onDeleteCloseHandled()">
                        <span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div>Are you sure to delete this Deal Status?</div><br>

                    <div class="form-group row">
                        <label for="dealStatusID" class="col-sm-4 col-form-label">Deal Status ID</label>
                        <div class="col-sm-8">
                            <input type="text" formControlName="dealStatusID" class="form-control" readonly=""
                                [ngClass]="{ 'is-invalid': deleteSubmitted && fdelete.dealStatusID.errors }" />
                            <div *ngIf="deleteSubmitted && fdelete.dealStatusID.errors" class="invalid-feedback">
                                <div *ngIf="fdelete.dealStatusID.errors.required">Deal Status ID is required</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="dealStatusName" class="col-sm-4 col-form-label">Deal Status Name</label>
                        <div class="col-sm-8">
                            <input type="text" formControlName="dealStatusName" class="form-control" readonly=""
                                [ngClass]="{ 'is-invalid': deleteSubmitted && fdelete.dealStatusName.errors }" />
                            <div *ngIf="deleteSubmitted && fdelete.dealStatusName.errors" class="invalid-feedback">
                                <div *ngIf="fdelete.dealStatusName.errors.required">Deal Status Name is required</div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="reset" (click)="onDeleteCloseHandled()">Cancel</button>

                    <button [disabled]="deleteLoading" class="btn btn-danger">
                        <span *ngIf="deleteLoading" class="spinner-border spinner-border-sm mr-1"></span>
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>