<nav>
    <ol class="breadcrumb">
        <!-- <li class="breadcrumb-item"><a routerLink="/">Home</a></li> -->
        <li class="breadcrumb-item active">Deal Comments</li>
    </ol>
</nav>


<!-- Create Box and Search Box Starts -->
<div class="col-xl-12">
    <div class="form-group row">


        <!-- <label for="drpSearchBy" class="col-form-label col-md-6 col-lg-2 offset-xl-1 col-xl-2 text-right">Search by:</label>
  
        <div class="col-md-6 col-lg-4 col-xl-3">
          <select class="form-control" id="drpSearchBy" name="SearchBy">
            <option value="countryName" selected="true">Country Name</option>
          </select>
        </div> -->

        <!-- <label for="textSearchText" class="col-form-label col-md-6 col-lg-2 col-xl-1 text-right">Search:</label> -->

        <div class="col-md-6 col-lg-4 col-xl-3" *ngIf="error !== 'Unknown Error'">
            <div class="input-group">
                <input type="text" class="form-control" id="txtSearchText" name="searchtext"
                    placeholder="Start filtering.." [(ngModel)]="searchtext">
            </div>
        </div>
    </div>
</div>
<!-- Create Box and Search Box Ends -->

<div class="table-responsive" *ngIf="error !== 'Unknown Error'">

    <div class="col-xl-12">
        <table class="table" style="width: 100%">
            <thead>
                <!-- <th>Deal ID</th>
                <th>Member Name</th> -->
                <!-- <th style="width: 10%">Deal Id</th> -->
                <th style="width: 5%">Geo</th>
                <th style="width: 5%">Country</th>
                <th style="width: 5%">State</th>
                <th style="width: 5%">Comment</th>
                <th style="width: 10%">Time Line</th>
                <th style="width: 5%">Registration Date</th>
                <th style="width: 5%">Project</th>
                <th style="width: 5%">Client</th>
                <th style="width: 10%">Address</th>
                <th style="width: 10%">Contact Person</th>
                <th style="width: 15%">Deal Created By</th>
                <!-- <th>Contact Person</th> -->
                <th style="width: 10%">Status</th>
                <!-- <th>Client Name</th>
                <th>Address</th>
                <th>Contact Person</th>
                <th>Status</th> -->
                <!-- <th>Comments</th> -->

                <th style="width: 10%">Actions</th>
            </thead>
            <tbody>
                <tr
                    *ngFor="let project of geos |filter:searchtext| paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
                    <!-- <td>{{project.DealRegID}}</td>
                    <td>{{project.FirstName}}</td> -->
                    <!-- <td style="width: 10%">{{project.DealRegID}}</td> -->
                    <td>{{project.GeoName}}</td>
                    <td>{{project.CountryName}}</td>
                    <td>{{project.StateName}}</td>
                    <td title="{{project.UserComments}}" style="width: 5%">
                        <p style="width: auto;
                        max-width: 200px;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        margin: 0px;
                        overflow: hidden;">{{project.UserComments}}</p>
                    </td>
                    <!-- <td style="width: 15%" title="{{project.UserComments}}">{{project.UserComments}}</td> -->
                    <td>{{project.TimeLineName}}</td>
                    <td>{{project.DateOfReg |  date : "dd-MM-yyyy"}}</td>
                    <td>{{project.ProjectName}}</td>
                    <td>{{project.ClientName}}</td>
                    <td>{{project.ClientAddress}}</td>
                    <td>{{project.ClientContactPerson}}</td>
                    <td>{{project.FirstName}}</td>
                    <td *ngIf="project.DealStatusName ==='Approved'" style="color: green;font-weight: bold">
                        {{project.DealStatusName|uppercase}}</td>
                    <td *ngIf="project.DealStatusName ==='Admin Approval Pending'" style="color:orange;font-weight: bold">
                        {{project.DealStatusName|uppercase}}</td>
                    <td *ngIf="project.DealStatusName ==='Reject'" style="color: red;font-weight: bold">
                        {{project.DealStatusName|uppercase}}</td>
                    <td *ngIf="project.DealStatusName ==='Partner Admin Approval  Pending'" style="color:blue;font-weight: bold;width: 10%">{{project.DealStatusName|uppercase}}</td>
                    <td *ngIf="project.DealStatusName ==='Auto Approved Partner Admin'" style="color:green;font-weight: bold;width: 10%">{{project.DealStatusName|uppercase}}</td>
                    <td *ngIf="project.DealStatusName ==='Auto Approved Admin'" style="color:green;font-weight: bold;width: 10%">{{project.DealStatusName|uppercase}}</td>    

                    <td style="width: 15%;padding-left: 0px">
                        <!-- <button class="btn btn-success" data-toggle="modal" data-target="#editModal">More</button>&nbsp; -->

                        <button class="btn" style="box-shadow:none;padding: 0px;margin-right: 14px;" data-toggle="modal"
                            data-target="#editModal"
                            (click)="getCommentId(project.DealRegID, project.UserComments)"><img
                                src="../../../assets/pencil.png" width="30px" title="Edit Comment"></button>&nbsp;
                        <button class="btn" data-toggle="modal" data-target="#viewModal"
                            (click)="viewComments(project.DealRegID)" style="box-shadow:none;padding: 0px"><img
                                src="../../../assets/view.png" width="30px" title="View Member Comment"></button>&nbsp;
                        <!-- <button class="btn btn-warning" data-toggle="modal" data-target="#deleteModal">Delete</button> -->
                    </td>

                </tr>
            </tbody>
        </table>
        <div style="text-align: center;">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div>

<div *ngIf="error === 'Unknown Error'"
    style="padding: 50px;color: red;font-style: italic;text-align: center;display: block">
    <p>Something went wrong. Please try again.</p>
</div>



<!-- Edit Comment -->
<form>
    <div class="modal" role="dialog" id="editModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">Edit Comments</div>
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                </div>
                <div class="modal-body">

                    <div class="form-group row">
                        <label for="txtEditRoleDescription" class="col-sm-4 col-form-label">Comments</label>
                        <div class="col-sm-8">
                            <textarea rows="2" class="form-control" [(ngModel)]="editedComments"
                                name="editedComments"></textarea>

                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-warning" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-success" data-dismiss="modal" (click)="updateComment()">Update</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!--View Comment -->
<form>
    <div class="modal" role="dialog" id="viewModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">View Comments</div>
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                </div>
                <div class="modal-body">

                    <div class="card" *ngFor="let details of commentDetails">
                        <div class="row">
                            <div class="col-md-12" style="padding-left: 30px;padding-top: 10px;" *ngIf="code === 2">
                                <p><b>Comment By :</b> {{details.LastName}}</p>
                                <p><b>Details :</b> {{details.Comments}}</p>
                                <p><b>Date:</b> {{details.CreatedOn|date : "dd-MM-yyyy"}}</p>

                            </div>
                            <div class="col-md-12" style="padding-left: 30px;padding-top: 10px;" *ngIf="code === 20">
                                <p>{{details.description}}</p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="reset" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</form>


<!-- Delete Project -->
<form>
    <div class="modal" role="dialog" id="deleteModal">
        <div class="modal-dialog">
            <div class="modal-content" style="width:700px">
                <div class="modal-header">
                    <div class="modal-title">Delete Role</div>
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                </div>
                <div class="modal-body">

                    <div>Are you sure to delete this Role?</div><br>

                    <div class="form-group row" style="display: none;">
                        <label for="txtDeleteProjectID" class="col-sm-4 col-form-label">Role ID</label>
                        <div class="col-sm-8">
                            <input type="text" id="txtDeleteProjectID" style="width:100px"
                                class="form-control-plain-text" placeholder="Project ID" name="ProjectID"
                                [(ngModel)]="deleteProject.projectID" disabled="disabled">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="txtDeleteProjectName" class="col-sm-4 col-form-label">Role Name</label>
                        <div class="col-sm-8">
                            <input type="text" id="txtDeleteProjectName" class="form-control-plain-text"
                                placeholder="Role Name" name="ProjectName" value="Admin" disabled="disabled">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="txtDeleteRoleDescription" class="col-sm-4 col-form-label">Role Description</label>
                        <div class="col-sm-8">
                            <input type="text" id="txtDeleteRoleDescription" class="form-control-plain-text"
                                placeholder="Role Description" name="ProjectName"
                                [(ngModel)]="deleteProject.projectName" disabled="disabled">
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-warning" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-success" data-dismiss="modal"
                        (click)="onDeleteConfirmClick()">Delete</button>
                </div>
            </div>
        </div>
    </div>
</form>