<nav>
    <ol class="breadcrumb">
        <!-- <li class="breadcrumb-item"><a routerLink="/">Home</a></li> -->
        <li class="breadcrumb-item active">Sla Master</li>
    </ol>
</nav>

<!-- Country Grid -->
<div class="table-responsive mt-4" *ngIf="error !== 'Unknown Error'">
    <div class="col-12 mx-auto tool-bar margin-bottom-10">
        <button type="button" class="btn btn-primary" (click)="openModal()">Create Sla</button>
    </div>
    <div class="col-12 mx-auto">
        <table class="table">
            <thead>
                <th style="display: none;">Sla ID</th>
                <th style="display: none;">Role ID</th>
                <th>Role Name</th>
                <th>SLA Time</th>
                <th>Created By</th>
                <th>Created On</th>
                <th>Modified By</th>
                <th>Modified On</th>
                <th>Actions</th>
            </thead>
            <tbody>
                <tr *ngFor="let slas of sla | paginate: { itemsPerPage: 100, currentPage: p }; let i = index">
                    <td style="display: none;">{{slas.SlaID}}</td>
                    <td style="display: none;">{{slas.RoleID}}</td>
                    <td>{{slas.RoleName}}</td>
                    <td title="{{slas.SlaTime}}" style="width: 20%">
                            <p style="width: auto;
                            max-width: 300px;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;">{{slas.slatime}}</p>
                        </td>
                    <td>{{slas.CreatedBy}}</td>
                    <td>{{slas.CreatedOn |  date : "dd-MM-yyyy"}}</td>
                    <td>{{slas.ModifiedBy}}</td>
                    <td>{{slas.ModifiedOn |  date : "dd-MM-yyyy"}}</td>
                    <td>
                        <button class="btn" style="padding: 0px;box-shadow: none;margin-right: 14px;" (click)="onEditClick(slas, i)"><img src="../../../assets/pencil.png" width="25px" title="Edit"></button>&nbsp;
                        <button class="btn" style="padding: 0px;box-shadow: none;" (click)="onDeleteClick($event, i)">
                                <img src="../../../assets/delete.png" width="20px" title="Delete">
                                </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div style="text-align: center;">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div>

<div *ngIf="error === 'Unknown Error'" style="padding: 50px;color: red;font-style: italic;text-align: center;">
<p>Something went wrong. Please try again.</p>
</div>

<!-- New State Entry -->
<form [formGroup]="stateForm" (ngSubmit)="onSaveClick()">
    <div class="modal" id="newModal" [ngStyle]="{'display':display}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">New State</div>
                    <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()">
                        <span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">

                    <div class="form-group row">
                        <label for="RoleID" class="col-sm-4 col-form-label">Role <Span style="color: red">*</Span></label>
                        <div class="col-sm-8">

                            <select class="form-control" formControlName="RoleID"
                            [ngClass]="{ 'is-invalid': submitted && f.RoleID.errors }">

                            <option [ngValue]="null">Please Select</option>
                            <option *ngFor="let role of roles" [ngValue]="role.roleID">
                                {{ role.roleName }}
                            </option>
                            
                        </select>
                        <div *ngIf="submitted && f.RoleID.errors" class="invalid-feedback">
                            <div *ngIf="f.RoleID.errors.required">Role is required</div>
                        </div>

                        <input type="text" formControlName="createdBy" [(ngModel)]="createdBy" class="form-control" style="display: none" />
                        <input type="text" formControlName="modifiedBy" [(ngModel)]="modifiedBy"class="form-control" style="display: none" />
                            
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="SLATIME" class="col-sm-4 col-form-label">SLA<Span style="color: red">*</Span></label>
                        <div class="col-sm-8">

                            <input type="text" formControlName="SLATIME" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.SLATIME.errors }" />
                            <div *ngIf="submitted && f.SLATIME.errors" class="invalid-feedback">
                                <div *ngIf="f.SLATIME.errors.required">SLA  is required</div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="modal-footer">

                    <button class="btn btn-secondary" type="reset" (click)="onCloseHandled()">Cancel</button>

                    <button [disabled]="loading" class="btn btn-success">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Edit State -->
<form [formGroup]="editStateForm" (ngSubmit)="onUpdateClick()">
    <div class="modal" id="editModal" [ngStyle]="{'display': editDisplay}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">Edit State</div>
                    <button type="button" class="close" aria-label="Close" (click)="onEditCloseHandled()">
                        <span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">

                    <div class="form-group row">
                        <label for="RoleID" class="col-sm-4 col-form-label">Role</label>
                        <div class="col-sm-8">
                    
                            <select class="form-control" formControlName="RoleID" disabled=""
                                [ngClass]="{ 'is-invalid': editSubmitted && fedit.RoleID.errors }">
                    
                                <option [ngValue]="null">Please Select</option>
                                <option *ngFor="let role of roles" [ngValue]="role.roleID">
                                 {{ role.roleName }}
                                </option>

                            </select>
                            <div *ngIf="submitted && f.RoleID.errors" class="invalid-feedback">
                              <div *ngIf="f.RoleID.errors.required">Role is required</div>
                            </div>
                    
                        </div>
                    </div>

                   <div class="form-group row">
                        <label for="SlaID" class="col-sm-4 col-form-label">SlaID<Span style="color: red">*</Span></label>
                        <div class="col-sm-8">

                            <input type="text" formControlName="SlaID" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.SlaID.errors }" readonly="" />
                            <div *ngIf="submitted && f.SlaID.errors" class="invalid-feedback">
                                <div *ngIf="f.SLATIME.errors.required">SlaID  is required</div>
                            </div>

                        </div>
                    </div>

                     <div class="form-group row">
                        <label for="SLATIME" class="col-sm-4 col-form-label">SLATime<Span style="color: red">*</Span></label>
                        <div class="col-sm-8">

                            <input type="text" formControlName="SLATIME" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.SLATIME.errors }" />
                            <div *ngIf="submitted && f.SLATIME.errors" class="invalid-feedback">
                                <div *ngIf="f.SLATIME.errors.required">SLA Time  is required</div>
                            </div>

                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="reset" (click)="onEditCloseHandled()">Cancel</button>

                    <button [disabled]="editLoading" class="btn btn-success">
                        <span *ngIf="editLoading" class="spinner-border spinner-border-sm mr-1"></span>
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Delete Geo -->
<form [formGroup]="deleteStateForm" (ngSubmit)="onDeleteConfirmClick()">
    <div class="modal" id="deleteModal" [ngStyle]="{'display': deleteDisplay}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">Delete Sla</div>
                    <button type="button" class="close" aria-label="Close" (click)="onDeleteCloseHandled()">
                        <span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div>Are you sure to delete this SLA?</div><br>

                    <div class="form-group row">
                        <label for="RoleID" class="col-sm-4 col-form-label">Role</label>
                        <div class="col-sm-8">
                    
                            <select class="form-control" formControlName="RoleID" disabled=""
                                [ngClass]="{ 'is-invalid': deleteSubmitted && fdelete.RoleID.errors }">
                    
                                <option [ngValue]="null">Please Select</option>
                                <option *ngFor="let role of roles" [ngValue]="role.roleID">
                                 {{ role.roleName }}
                                </option>
                    
                            </select>
                            <div *ngIf="deleteSubmitted && fdelete.RoleID.errors" class="invalid-feedback">
                                <div *ngIf="fdelete.RoleID.errors.required">Role is required</div>
                            </div>
                    
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="SlaID" class="col-sm-4 col-form-label">SLA ID</label>
                        <div class="col-sm-8">
                            <input type="text" formControlName="SlaID" class="form-control" readonly=""
                                [ngClass]="{ 'is-invalid': deleteSubmitted && fdelete.SlaID.errors }" />
                            <div *ngIf="deleteSubmitted && fdelete.SlaID.errors" class="invalid-feedback">
                                <div *ngIf="fdelete.SlaID.errors.required">Sla ID is required</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="SLATIME" class="col-sm-4 col-form-label">Sla Time </label>
                        <div class="col-sm-8">
                            <input type="text" formControlName="SLATIME" class="form-control" readonly=""
                                [ngClass]="{ 'is-invalid': deleteSubmitted && fdelete.SLATIME.errors }" />
                            <div *ngIf="deleteSubmitted && fdelete.SLATIME.errors" class="invalid-feedback">
                                <div *ngIf="fdelete.SLATIME.errors.required">State Name is required</div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="reset" (click)="onDeleteCloseHandled()">Cancel</button>

                    <button [disabled]="deleteLoading" class="btn btn-danger">
                        <span *ngIf="deleteLoading" class="spinner-border spinner-border-sm mr-1"></span>
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>