<nav>
    <ol class="breadcrumb">
        <!-- <li class="breadcrumb-item"><a routerLink="/">Home</a></li> -->
        <li class="breadcrumb-item active">Client Master</li>
    </ol>
</nav>

<!-- Client Grid -->
<div class="table-responsive mt-4" *ngIf="error !== 'Unknown Error'"> 
    <div class="col-12 mx-auto tool-bar margin-bottom-10">
        <button type="button" class="btn btn-primary" (click)="openModal()">Create Client</button>
    </div>
    <div class="col-12 mx-auto">
        <table class="table">
            <thead>
            
                <th>Name</th>
                <th>Address</th>
                <th>Contact Person</th>
                <th>Geo</th>
                <th>Country</th>
                <th>State</th>
                <th>Created By</th>
                <th>Created On</th>
                <th>Modified By</th>
                <th>Modified On</th>
                <th>Actions</th>
            </thead>
            <tbody>
                <tr *ngFor="let client of clients | paginate: { itemsPerPage: 100, currentPage: p }; let i = index">
                    <td style="display: none;">{{client.clientID}}</td>
                    <td style="display: none;">{{client.GeoName}}</td>
                    <td style="display: none;">{{client.CountryName}}</td>
                    <td style="display: none;">{{client.StateName}}</td>
                    <td title="{{client.name}}">
                            <p style="width: auto;
                            max-width: 200px;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;">{{client.name}}</p>
                        </td>
                        <td title="{{client.address}}">
                                <p style="width: auto;
                                max-width: 200px;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                overflow: hidden;">{{client.address}}</p>
                            </td>
                            <td title="{{client.contactPerson}}">
                                    <p style="width: auto;
                                    max-width: 200px;
                                    text-overflow: ellipsis;
                                    white-space: nowrap;
                                    overflow: hidden;">{{client.contactPerson}}</p>
                                </td>
                    <td>{{client.GeoName}}</td>
                    <td>{{client.CountryName}}</td>
                    <td>{{client.StateName}}</td>
                    <td>{{client.CreatedBy}}</td>
                    <td>{{client.CreatedOn | date : "dd-MM-yyyy"}}</td>
                    <td>{{client.ModifiedBy}}</td>
                    <td>{{client.ModifiedOn | date : "dd-MM-yyyy"}}</td>
                    <td>
                        <button class="btn" style="padding: 0px;box-shadow: none;margin-right: 14px;" (click)="onEditClick(client, i)"><img src="../../../assets/pencil.png" width="25px" title="Edit"></button>&nbsp;
                        <button class="btn" style="padding: 0px;box-shadow: none;" (click)="onDeleteClick($event, i)"><img src="../../../assets/delete.png" width="20px" title="Delete"></button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div style="text-align: center;">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div>

<div *ngIf="error === 'Unknown Error'" style="padding: 50px;color: red;font-style: italic;text-align: center;">
<p>Something went wrong. Please try again.</p>
</div>

<!-- New Client Entry -->
<form [formGroup]="clientForm" (ngSubmit)="onSaveClick()">
    <div class="modal" id="newModal" [ngStyle]="{'display':display}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">New Client</div>
                    <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()">
                        <span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">

                    <div class="form-row">
                        <div class="form-group col">
                            <label>Geo <Span style="color: red">*</Span></label>
                            <select class="form-control" formControlName="geoID"
                                [ngClass]="{ 'is-invalid': submitted && f.geoID.errors }">

                                <option [ngValue]="" disabled>Please Select</option>
                                <option *ngFor="let geo of geos" [ngValue]="geo.geoID">
                                    {{ geo.geoName }}
                                </option>

                            </select>
                            <div *ngIf="submitted && f.geoID.errors" class="invalid-feedback">
                                <div *ngIf="f.geoID.errors.required">Geo is required</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col">
                            <label>Country <Span style="color: red">*</Span></label>
                            <!-- (change)="onChangeCountry($event.target.value)" -->
                            <!-- <option [value]="null">Please Select</option> -->
                            <select class="form-control" formControlName="countryID" #select
                                (change)=onChangeCountry($event.target.value)
                                [ngClass]="{ 'is-invalid': submitted && f.countryID.errors }">

                                <option [value]="" disabled>Please Select</option>
                                <option *ngFor="let country of countries" [value]="country.countryID">
                                    {{ country.countryName }}
                                </option>

                            </select>
                            <div *ngIf="submitted && f.countryID.errors" class="invalid-feedback">
                                <div *ngIf="f.countryID.errors.required">Country is required</div>
                            </div>
                        </div>
                        <div class="form-group col">
                            <label>State </label>
                            <select class="form-control" formControlName="stateID"
                                [ngClass]="{ 'is-invalid': submitted && f.stateID.errors }">

                                <option [value]="" disabled>Please Select</option>
                                <option *ngFor="let state of states" [value]="state.stateID">
                                    {{ state.stateName }}
                                </option>

                            </select>
                            <!-- <div *ngIf="submitted && f.stateID.errors" class="invalid-feedback">
                                <div *ngIf="f.stateID.errors.required">State is required</div>
                            </div> -->
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col">
                            <label>Client Name <Span style="color: red">*</Span></label>
                            <input type="text" formControlName="name" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                <div *ngIf="f.name.errors.required">Client Name is required</div>
                            </div>
                        </div>
                        <div class="form-group col">
                            <label>Contact Person <Span style="color: red">*</Span></label>

                            <input type="text" formControlName="contactPerson" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.contactPerson.errors }" />
                            <div *ngIf="submitted && f.contactPerson.errors" class="invalid-feedback">
                                <div *ngIf="f.contactPerson.errors.required">Contact Person is required</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col">
                            <label>Address </label>

                            <textarea rows="2" formControlName="address" class="form-control"></textarea>
                            <!-- <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                                <div *ngIf="f.address.errors.required">Address is required</div>
                            </div> -->

                        </div>
                    </div>

                    <input type="text" formControlName="createdBy" [(ngModel)]="createdBy" class="form-control" style="display: none" />
                    <input type="text" formControlName="modifiedBy" [(ngModel)]="modifiedBy"class="form-control" style="display: none" />


                </div>
                <div class="modal-footer">

                    <button class="btn btn-secondary" type="reset" (click)="onCloseHandled()">Cancel</button>

                    <button [disabled]="loading" class="btn btn-success">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Edit Client -->
<form [formGroup]="editClientForm" (ngSubmit)="onUpdateClick()">
    <div class="modal" id="editModal" [ngStyle]="{'display': editDisplay}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">Edit Client</div>
                    <button type="button" class="close" aria-label="Close" (click)="onEditCloseHandled()">
                        <span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">

                    <div class="form-row">
                        <div class="form-group col">
                            <label>Client ID</label>
                            <input type="text" formControlName="clientID" class="form-control" readonly=""
                                [ngClass]="{ 'is-invalid': editSubmitted && fedit.clientID.errors }" />
                            <div *ngIf="editSubmitted && fedit.clientID.errors" class="invalid-feedback">
                                <div *ngIf="fedit.clientID.errors.required">Client ID is required</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col">
                            <label>Geo</label>
                            <select class="form-control" formControlName="geoID" disabled=""
                                [ngClass]="{ 'is-invalid': editSubmitted && fedit.geoID.errors }">

                                <option [ngValue]="" disabled>Please Select</option>
                                <option *ngFor="let geo of geos" [ngValue]="geo.geoID">
                                    {{ geo.geoName }}
                                </option>

                            </select>
                            <div *ngIf="editSubmitted && fedit.geoID.errors" class="invalid-feedback">
                                <div *ngIf="fedit.geoID.errors.required">Geo is required</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col">
                            <label>Country</label>

                            <select class="form-control" formControlName="countryID" #select
                            (change)=onChangeCountry(select.value)
                                [ngClass]="{ 'is-invalid': editSubmitted && fedit.countryID.errors }">

                                <option [value]="" disabled>Please Select</option>
                                <option *ngFor="let country of countries" [value]="country.countryID">
                                    {{ country.countryName }}
                                </option>

                            </select>

                            <div *ngIf="editSubmitted && fedit.countryID.errors" class="invalid-feedback">
                                <div *ngIf="fedit.countryID.errors.required">Country is required</div>
                            </div>
                        </div>
                        <div class="form-group col">
                            <label>State</label>
                            <select class="form-control" formControlName="stateID">
                                <option [value]="" disabled>Please Select</option>
                                <option *ngFor="let state of states" [value]="state.stateID">
                                    {{ state.stateName }}
                                </option>

                            </select>
                            <div *ngIf="editSubmitted && fedit.stateID.errors" class="invalid-feedback">
                                <div *ngIf="fedit.stateID.errors.required">State is required</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col">
                            <label>Name</label>
                            <input type="text" formControlName="name" class="form-control"
                                [ngClass]="{ 'is-invalid': editSubmitted && fedit.name.errors }" />
                            <div *ngIf="editSubmitted && fedit.name.errors" class="invalid-feedback">
                                <div *ngIf="fedit.name.errors.required">Client Name is required</div>
                            </div>
                        </div>
                        <div class="form-group col">
                            <label>Contact Person</label>

                            <input type="text" formControlName="contactPerson" class="form-control"
                                [ngClass]="{ 'is-invalid': editSubmitted && fedit.contactPerson.errors }" />
                            <div *ngIf="editSubmitted && fedit.contactPerson.errors" class="invalid-feedback">
                                <div *ngIf="fedit.contactPerson.errors.required">Contact Person is required</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col">
                            <label>Address</label>

                            <textarea rows="2" formControlName="address" class="form-control"
                                [ngClass]="{ 'is-invalid': editSubmitted && fedit.address.errors }"></textarea>
                            <div *ngIf="editSubmitted && fedit.address.errors" class="invalid-feedback">
                                <div *ngIf="fedit.address.errors.required">Address is required</div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="reset" (click)="onEditCloseHandled()">Cancel</button>

                    <button [disabled]="editLoading" class="btn btn-success">
                        <span *ngIf="editLoading" class="spinner-border spinner-border-sm mr-1"></span>
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Delete Client -->
<form [formGroup]="deleteClientForm" (ngSubmit)="onDeleteConfirmClick()">
    <div class="modal" id="deleteModal" [ngStyle]="{'display': deleteDisplay}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">Delete Client</div>
                    <button type="button" class="close" aria-label="Close" (click)="onDeleteCloseHandled()">
                        <span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div>Are you sure to delete this Client?</div><br>

                    <div class="form-group row">
                        <label for="countryID" class="col-sm-4 col-form-label">Country</label>
                        <div class="col-sm-8">

                            <select class="form-control" formControlName="countryID" disabled=""
                                [ngClass]="{ 'is-invalid': deleteSubmitted && fdelete.countryID.errors }">

                                <option [ngValue]="null">Please Select</option>
                                <option *ngFor="let country of countries" [ngValue]="country.countryID">
                                    {{ country.countryName }}
                                </option>

                            </select>
                            <div *ngIf="deleteSubmitted && fdelete.countryID.errors" class="invalid-feedback">
                                <div *ngIf="fdelete.countryID.errors.required">Country is required</div>
                            </div>

                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="clientID" class="col-sm-4 col-form-label">Client ID</label>
                        <div class="col-sm-8">
                            <input type="text" formControlName="clientID" class="form-control" readonly=""
                                [ngClass]="{ 'is-invalid': deleteSubmitted && fdelete.clientID.errors }" />
                            <div *ngIf="deleteSubmitted && fdelete.clientID.errors" class="invalid-feedback">
                                <div *ngIf="fdelete.clientID.errors.required">Client ID is required</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="name" class="col-sm-4 col-form-label">Client Name</label>
                        <div class="col-sm-8">
                            <input type="text" formControlName="name" class="form-control" readonly=""
                                [ngClass]="{ 'is-invalid': deleteSubmitted && fdelete.name.errors }" />
                            <div *ngIf="deleteSubmitted && fdelete.name.errors" class="invalid-feedback">
                                <div *ngIf="fdelete.name.errors.required">Client Name is required</div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="reset" (click)="onDeleteCloseHandled()">Cancel</button>

                    <button [disabled]="deleteLoading" class="btn btn-danger">
                        <span *ngIf="deleteLoading" class="spinner-border spinner-border-sm mr-1"></span>
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>