<!-- style="margin-top: 50px;padding: 0 20%;" -->
<nav>
        <ol class="breadcrumb">
                <!-- <li class="breadcrumb-item"><a routerLink="/">Home</a></li> -->
                <li class="breadcrumb-item active">Report</li>
        </ol>
</nav>

<div class="row" *ngIf="error !== 'Unknown Error'"  style="margin-top: 50px;padding: 0 14px;">
        <div class="col-md-2">
                <label>Report Type <span style="color: red">*</span></label>
                <select class="form-control" [(ngModel)]="reportType" name="reportType" (change)="changeReportType()">
                        <option value="0" disabled>Please Select</option>
                        <option *ngFor="let details of typeOfReport" value="{{details.reportId}}">
                                {{ details.reportName }}
                        </option>
                </select>
        </div>
        <div class="col-md-2" *ngIf="reportType == '1'">
                <label>Status<span style="color: red">*</span></label>
                <select class="form-control" [(ngModel)]="statusType" name="statusType" (change)="changeStatusType()">
                        <option value="0">All</option>
                        <option *ngFor="let details of dealStatusList" value="{{details.dealStatusID}}">
                                {{ details.dealStatusName }}
                        </option>

                </select>
        </div>
        <div class="col-md-2">
                <label>From<span style="color: red">*</span></label>
                <input type="date" class="form-control" [(ngModel)]='fromDate' name="fromDate"
                        (change)="selectFromDate()">
        </div>
        <div class="col-md-2">
                <label>To<span style="color: red">*</span></label>
                <input type="date" class="form-control" [(ngModel)]='toDate' name="toDate" (change)="selectToDate()">
        </div>
        <div class="col-md-4">
                <label>&nbsp;</label>
                <input type="submit" class="btn btn-primary" value="Search" style="width: 100%"
                        (click)="generateReport()">
        </div>
</div>

<div class="row"  style="margin-top: 50px;padding: 0 30px;" *ngIf="reportType === '1' && reportDetails.length !==0">
                <div class="col-md-12" style="padding: 0px;">
                        <div class="table-responsive">

                                        <div class="col-md-12" style="padding: 0px;">
                                                <table class="table">
                                                <thead>
                                                        <th style="width: 5%">Geo</th>
                                                        <th style="width: 5%">Country</th>
                                                        <th style="width: 5%">State</th>
                                                        <th style="width: 5%">Comments</th>
                                                        <th style="width: 10%">Time Line</th>
                                                        <th style="width: 5%">Registration Date</th>
                                                        <th style="width: 10%">Project</th>
                                                        <th style="width: 5%">Client</th>
                                                        <th style="width: 10%">Address</th>
                                                        <th style="width: 10%">Contact Person</th>
                                                        <th style="width: 15%">Deal Created By</th>
                                                        <th style="width: 10%">Status</th> 
                                                </thead>
                                                <tbody>
                                                        <tr *ngFor="let record of reportDetails | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
                                                       
                                                        <td>{{record.GeoName}}</td>
                                                        <td>{{record.CountryName}}</td>
                                                        <td>{{record.StateName}}</td>
                                                        <td title="{{record.UserComments}}" style="width: 15%">
                                                                        <p style="width: auto;
                                                                        max-width: 200px;
                                                                        text-overflow: ellipsis;
                                                                        white-space: nowrap;
                                                                        overflow: hidden;">{{record.UserComments}}</p>
                                                        </td>
                                                        <td>{{record.TimeLineName}}</td>
                                                        <td>{{record.DateOfReg |  date : "dd-MM-yyyy"}}</td>
                                                        <td>{{record.ProjectName}}</td>
                                                        <td>{{record.ClientName}}</td>
                                                        <td>{{record.ClientAddress}}</td>
                                                        <td>{{record.ClientContactPerson}}</td>
                                                       
                                                        <td>{{record.FirstName}}</td>
                                                        <td *ngIf="record.DealStatusName ==='Approved'" style="color: green;font-weight: bold">{{record.DealStatusName|uppercase}}</td>
                                                        <td *ngIf="record.DealStatusName ==='Admin Approval Pending'" style="color:orange;font-weight: bold">{{record.DealStatusName|uppercase}}</td>
                                                        <td *ngIf="record.DealStatusName ==='Reject'" style="color: red;font-weight: bold">{{record.DealStatusName|uppercase}}</td>
                                                        <td *ngIf="record.DealStatusName ==='Partner Admin Approval  Pending'" style="color:blue;font-weight: bold;width: 10%">{{record.DealStatusName|uppercase}}</td>
                                                        <td *ngIf="record.DealStatusName ==='Auto Approved Partner Admin'" style="color:green;font-weight: bold;width: 10%">{{record.DealStatusName|uppercase}}</td>
                                                        <td *ngIf="record.DealStatusName ==='Auto Approved Admin'" style="color:green;font-weight: bold;width: 10%">{{record.DealStatusName|uppercase}}</td>    
                                                        <!-- <td>{{project.Comments}}</td> -->
                                        
                                                        
                                                        </tr>
                                                </tbody>
                                                </table>
                                                <div style="text-align: center;">
                                                <pagination-controls (pageChange)="p = $event"></pagination-controls>
                                                </div>
                                        </div>
                        </div>
                </div>
</div>

<div class="row"  style="margin-top: 50px;padding: 0 30px;" *ngIf="reportType === '2' && reportDetails.length !==0">
                <div class="col-md-12" style="padding: 0px;">
                        <div class="table-responsive">

                                        <div class="col-md-12" style="padding: 0px;">
                                                <table class="table">
                                                <thead>            
                                                        <th>User Type</th>           
                                                        <th>First Name</th>
                                                        <th>Last Name</th>
                                                        <th>Email</th>
                                                        <th>Phone Number</th>
                                                        <th>Registered Date</th>
                                                        <!-- <th>Status</th> -->
                                        
                                                </thead>
                                                <tbody>
                                                        <tr *ngFor="let details of reportDetails | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
                                                        <td>{{details.RoleName}}</td>
                                                        <td>{{details.FirstName}}</td>
                                                        <td>{{details.LastName}}</td>
                                                        <td>{{details.Email}}</td>
                                                        <td>{{details.PhoneNumber}}</td>
                                                        <td>{{details.CreatedOn | date : "dd-MM-yyyy"}}</td>
                                                        <!-- <td>{{details.ActiveUser}}</td> -->
                                 
                                                        </tr>
                                                </tbody>
                                                </table>
                                                <div style="text-align: center;">
                                                <pagination-controls (pageChange)="p = $event"></pagination-controls>
                                                </div>
                                        </div>
                        </div>
                </div>
</div>

<div class="row" *ngIf="noRecordFound" style="padding: 50px;color: red;font-style: italic;text-align: center; padding-left: 50%;">
<p>No record found</p>
</div>

<div *ngIf="error === 'Unknown Error'" style="padding: 50px;color: red;font-style: italic;text-align: center;">
        <p>Something went wrong. Please try again.</p>
</div>