<nav>
        <ol class="breadcrumb">
            <!-- <li class="breadcrumb-item"><a routerLink="/">Home</a></li> -->
            <li class="breadcrumb-item active">Manage Users</li>
        </ol>
    </nav>

<!-- View User -->
<div class="row"  style="margin-top: 50px;padding: 0 5%;" *ngIf="error !== 'Unknown Error'">
        <div class="col-md-12" style="padding: 0px;">
                <div class="table-responsive">
    
                                <div class="col-md-12" style="padding: 0px; width: 100%">
                                        <table class="table">
                                        <thead>   
                                                <th style="width: 15%">User Type</th>            
                                                <th style="width: 15%">First Name</th>
                                                <th style="width: 15%">Last Name</th>
                                                <th style="width: 15%">Email</th>
                                                <th style="width: 10%">Phone Number</th>
                                                <th style="width: 10%">Registered Date</th>
                                                <!-- <th>Password</th> -->
                                             
                                                <th style="width: 20%">Actions</th>
                                                <!-- <th>Status</th> -->
                                
                                        </thead>
                                        <tbody>
                                                <tr *ngFor="let details of user | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
                                                <td>{{details.RoleName}}</td>
                                                <td title="{{details.FirstName}}" >
                                                        <p style="width: auto;
                                                        max-width: 200px;
                                                        text-overflow: ellipsis;
                                                        white-space: nowrap;
                                                        overflow: hidden;">{{details.FirstName}}</p>
                                                </td>
                                                <td title="{{details.LastName}}" >
                                                            <p style="width: auto;
                                                            max-width: 200px;
                                                            text-overflow: ellipsis;
                                                            white-space: nowrap;
                                                            overflow: hidden;">{{details.LastName}}</p>
                                                </td>
                                                <td title="{{details.Email}}" >
                                                                <p style="width: auto;
                                                                max-width: 200px;
                                                                text-overflow: ellipsis;
                                                                white-space: nowrap;
                                                                overflow: hidden;">{{details.Email}}</p>
                                                </td>
                                                <td title="{{details.PhoneNumber}}" >
                                                                    <p style="width: auto;
                                                                    max-width: 200px;
                                                                    text-overflow: ellipsis;
                                                                    white-space: nowrap;
                                                                    overflow: hidden;">{{details.PhoneNumber}}</p>
                                                </td>
                                                                
                                                <td>{{details.CreatedOn |date : "dd-MM-yyyy"}}</td>
                                                
                                                <!-- <td>{{details.Password}}</td> -->
                                               
                                                <td>
                                                    <button class="btn" style="box-shadow: none;padding: 0px; margin-right: 14px;" data-toggle="modal" data-target="#editModal" (click)="editUser(details)"><img src="../../../assets/pencil.png" width="25px" title="Edit User"></button> &nbsp;
                                                    <button class="btn" style="box-shadow: none;padding: 0px" data-toggle="modal" data-target="#deleteModal" (click)="confirmDeleteUser(details.UserID)"><img src="../../../assets/delete.png" width="20px" title="Delete User"></button>
                                                </td>
                         
                                                </tr>
                                        </tbody>
                                        </table>
                                        <div style="text-align: center;">
                                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                                        </div>
                                </div>
                </div>
        </div>
</div>

<div *ngIf="error === 'Unknown Error'" style="padding: 50px;color: red;font-style: italic;text-align: center;">
        <p>Something went wrong. Please try again.</p>
</div>
        
    
<!-- Edit User -->
<form>
    <div class="modal" role="dialog" id="editModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">Edit Profile</div>
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                </div>
                <div class="modal-body">

                    <div class="form-group row">
                        <label for="txtEditProjectID" class="col-sm-4 col-form-label">First Name</label>
                        <div class="col-sm-8">
                            <input type="text"  class="form-control"
                                name="edited.FirstName" [(ngModel)]="edited.FirstName">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="txtEditProjectName" class="col-sm-4 col-form-label">Last Name</label>
                        <div class="col-sm-8">
                            <input type="text"  class="form-control"
                                name="edited.LastName" [(ngModel)]="edited.LastName">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="txtEditRoleDescription" class="col-sm-4 col-form-label">Email</label>
                        <div class="col-sm-8">
                            <input type="text"  class="form-control"
                                name="edited.Email" [(ngModel)]="edited.Email">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="txtEditDateOfStart" class="col-sm-4 col-form-label">Phone Number</label>
                        <div class="col-sm-8">
                            <input type="number"   class="form-control"
                                name="edited.PhoneNumber" [(ngModel)]="edited.PhoneNumber">
                        </div>
                    </div>
                    
                    <!-- <div class="form-group row">
                        <label for="txtEditDateOfStart" class="col-sm-4 col-form-label">Password</label>
                        <div class="col-sm-8">
                            <input type="text"   class="form-control"
                                name="edited.Password" [(ngModel)]="edited.Password">
                        </div>
                    </div> -->


                </div>
                <div class="modal-footer">
                    <button class="btn btn-warning" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-success" data-dismiss="modal" (click)="adminUpdateUser()">Update</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Delete User -->
<form>
        <div class="modal" role="dialog" id="deleteModal">
            <div class="modal-dialog">
                <div class="modal-content" style="width:700px">
                    <div class="modal-header">
                        <div class="modal-title">Delete User</div>
                        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                    </div>
                    <div class="modal-body">
    
                        <div>Are you sure you want to delete this user?</div>
    
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-warning" data-dismiss="modal">Cancel</button>
                        <button class="btn btn-success" data-dismiss="modal"
                            (click)="deleteUser()">Delete</button>
                    </div>
                </div>
            </div>
        </div>
</form>
    