<!-- <div *ngIf="message" [ngClass]="message.cssClass">
    {{message.text}}
</div> -->
<!-- 
<button style="display:none;" class="btn btn-primary" id="btn_Error" data-toggle="modal" data-target="#newModal">Create Project</button>

    <div class="modal" *ngIf="message" id="newModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{msginf}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
            <p> {{message.text}}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div> -->

    <div #myerr *ngIf="message" [ngClass]="message.cssClass">{{message.text}}</div>