<nav>
  <ol class="breadcrumb">
      <!-- <li class="breadcrumb-item"><a routerLink="/">Home</a></li> -->
      <li class="breadcrumb-item active">Role Permissions</li>
  </ol>
</nav>
  <div class="table-responsive mt-4">
    <div class="col-12 mx-auto">
      <button class="btn btn-primary" data-toggle="modal" data-target="#newModal">Create Role Permissions</button>
    </div>
    <div class="col-12 mx-auto">
      <table class="table">
        <thead>
     
          <th>Role Name</th>
          <th>Can Add</th>
          <th>Can View</th>
          <th>Can Edit</th>
          <th>Can Delete</th>
          <th>Can Notify</th>
          <!-- <th>Created By</th>
          <th>Created On</th>
          <th>Modified By</th>
          <th>Modified On</th> -->
          <th>Actions</th>
        </thead>
        <tbody>
          <tr *ngFor="let project of RolePermissions | paginate: { itemsPerPage: 100, currentPage: p }; let i = index">
            <td>{{project.RoleName}}</td>
            <td>{{project.CanAdd}}</td>
            <td>{{project.CanView}}</td>
            <td>{{project.CanEdit}}</td>
            <td>{{project.CanDelete}}</td>
            <td>{{project.CanNotify}}</td>
            <!-- <td>{{project.CreatedBy}}</td>
            <td>{{project.CreatedOn}}</td>
            <td>{{project.ModifiedBy}}</td>
            <td>{{project.ModifiedOn}}</td> -->
            <td>
              <button class="btn btn-success" data-toggle="modal" data-target="#editModal">View</button>&nbsp;
              <button class="btn btn-info" data-toggle="modal" data-target="#editModal">Edit</button>&nbsp;
              <button class="btn btn-warning" data-toggle="modal" data-target="#deleteModal">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
      <div style="text-align: center;">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
  </div>
  
  <form>
    <div class="modal" role="dialog" id="newModal">
      <div class="modal-dialog">
        <div class="modal-content" style="width:700px">
          <div class="modal-header">
            <div class="modal-title">New Role</div>
            <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
          </div>
          <div class="modal-body">
  
            <div class="form-group row" style="display: none;">
              <label for="txtNewProjectID" class="col-sm-4 col-form-label">Role ID</label>
              <div class="col-sm-8">
                <input type="text" id="txtNewProjectID" style="width:100px" class="form-control" placeholder="Project ID"
                  name="ProjectID" [(ngModel)]="newProject.projectID">
              </div>
            </div>
  
            <div class="form-group row">
              <label for="txtNewProjectName" class="col-sm-4 col-form-label">Role Name</label>
              <div class="col-sm-8">
                <input type="text" id="txtNewProjectName" class="form-control" placeholder="Role Name"
                  name="ProjectName" [(ngModel)]="newProject.RoleName">
              </div>
            </div>
  
            <div class="form-group row">
              <label for="txtRoleDescription" class="col-sm-4 col-form-label">Role Description</label>
              <div class="col-sm-8">
                <input type="text" id="txtRoleDescription" class="form-control" placeholder="Role Description"
                  name="ProjectName" [(ngModel)]="newProject.RoleDesc">
              </div>
            </div>
  
            <div class="form-group row" style="display: none;">
              <label for="txtNewDateOfStart" class="col-sm-4 col-form-label">Date of Start</label>
              <div class="col-sm-8">
                <input type="date" id="txtNewDateOfStart" style="width:150px" class="form-control"
                  placeholder="Date of Start" name="DateOfStart" [(ngModel)]="newProject.dateOfStart">
              </div>
            </div>
  
            <div class="form-group row" style="display: none;">
              <label for="txtTeamSize" class="col-sm-4 col-form-label">Team Size</label>
              <div class="col-sm-8">
                <input type="number" id="txtTeamSize" style="width:150px" class="form-control" placeholder="Team Size"
                  name="TeamSize" [(ngModel)]="newProject.teamSize">
              </div>
            </div>
  
          </div>
          <div class="modal-footer">
            <button class="btn btn-warning" data-dismiss="modal">Cancel</button>
            <button class="btn btn-success" data-dismiss="modal">Save</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  
  <!-- Edit Project -->
  <form>
    <div class="modal" role="dialog" id="editModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <div class="modal-title">Edit Role</div>
            <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
          </div>
          <div class="modal-body">
  
            <div class="form-group row" style="display: none;">
              <label for="txtEditProjectID" class="col-sm-4 col-form-label">Project ID</label>
              <div class="col-sm-8">
                <input type="text" id="txtEditProjectID" style="width:100px" class="form-control-plain-text"
                  placeholder="Project ID" name="ProjectID" [(ngModel)]="editProject.projectID" disabled="disabled">
              </div>
            </div>
  
            <div class="form-group row">
              <label for="txtEditProjectName" class="col-sm-4 col-form-label">Role Name</label>
              <div class="col-sm-8">
                <input type="text" id="txtEditProjectName" class="form-control" placeholder="Role Name"
                  name="ProjectName" [(ngModel)]="editProject.RoleName">
              </div>
            </div>
            <div class="form-group row">
              <label for="txtEditRoleDescription" class="col-sm-4 col-form-label">Role Description</label>
              <div class="col-sm-8">
                <input type="text" id="txtEditRoleDescription" class="form-control" placeholder="Role Description"
                  name="ProjectName" [(ngModel)]="editProject.RoleDesc">
              </div>
            </div>
  
            <div class="form-group row" style="display: none;">
              <label for="txtEditDateOfStart" class="col-sm-4 col-form-label">Date of Start</label>
              <div class="col-sm-8">
                <input type="date" id="txtEditDateOfStart" style="width:150px" class="form-control"
                  placeholder="Date of Start" name="DateOfStart" [(ngModel)]="editProject.dateOfStart">
              </div>
            </div>
  
            <div class="form-group row" style="display: none;">
              <label for="txtEditTeamSize" class="col-sm-4 col-form-label">Team Size</label>
              <div class="col-sm-8">
                <input type="number" id="txtEditTeamSize" style="width:150px" class="form-control" placeholder="Team Size"
                  name="TeamSize" [(ngModel)]="editProject.teamSize">
              </div>
            </div>
  
          </div>
          <div class="modal-footer">
            <button class="btn btn-warning" data-dismiss="modal">Cancel</button>
            <button class="btn btn-success" data-dismiss="modal">Update</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  
  
  <!-- Delete Project -->
  <form>
    <div class="modal" role="dialog" id="deleteModal">
      <div class="modal-dialog">
        <div class="modal-content" style="width:700px">
          <div class="modal-header">
            <div class="modal-title">Delete Role</div>
            <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
          </div>
          <div class="modal-body">
  
            <div>Are you sure to delete this Role?</div><br>
  
            <div class="form-group row" style="display: none;">
              <label for="txtDeleteProjectID" class="col-sm-4 col-form-label">Role ID</label>
              <div class="col-sm-8">
                <input type="text" id="txtDeleteProjectID" style="width:100px" class="form-control-plain-text"
                  placeholder="Project ID" name="ProjectID" [(ngModel)]="deleteProject.projectID" disabled="disabled">
              </div>
            </div>
  
            <div class="form-group row">
              <label for="txtDeleteProjectName" class="col-sm-4 col-form-label">Role Name</label>
              <div class="col-sm-8">
                <input type="text" id="txtDeleteProjectName" class="form-control-plain-text" placeholder="Role Name"
                  name="ProjectName" value="Admin" disabled="disabled">
              </div>
            </div>
  
            <div class="form-group row">
              <label for="txtDeleteRoleDescription" class="col-sm-4 col-form-label">Role Description</label>
              <div class="col-sm-8">
                <input type="text" id="txtDeleteRoleDescription" class="form-control-plain-text" placeholder="Role Description"
                  name="ProjectName" [(ngModel)]="deleteProject.projectName" disabled="disabled">
              </div>
            </div>
  
          </div>
          <div class="modal-footer">
            <button class="btn btn-warning" data-dismiss="modal">Cancel</button>
            <button class="btn btn-success" data-dismiss="modal" (click)="onDeleteConfirmClick()">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </form>