<nav>
    <ol class="breadcrumb">
        <!-- <li class="breadcrumb-item"><a routerLink="/">Home</a></li> -->
        <li class="breadcrumb-item active">Geo Master</li>
    </ol>
</nav>

<!-- Geo Grid -->
<div class="table-responsive mt-4" *ngIf="error !== 'Unknown Error'">
    <div class="col-12 mx-auto tool-bar margin-bottom-10">
        <button type="button" class="btn btn-primary" (click)="openModal()">Create Geo</button>
    </div>
    <div class="col-12 mx-auto">
        <table class="table">
            <thead>
                <th style="display: none;">Geo ID</th>
                <th>Geo Name</th>
                <th>Created By</th>
                <th>Created On</th>
                <th>Modified By</th>
                <th>Modified On</th>
                <th>Actions</th>
            </thead>
            <tbody>
                <tr *ngFor="let geo of geos | paginate: { itemsPerPage: 100, currentPage: p }; let i = index">
                    <td style="display: none;">{{geo.GeoID}}</td>
                    <td title="{{geo.GeoName}}" style="width: 20%">
                            <p style="width: auto;
                            max-width: 300px;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;">{{geo.GeoName}}</p>
                    </td>
                    <td>{{geo.CreatedBy}}</td>
                    <td>{{geo.CreatedOn|  date : "dd-MM-yyyy"}}</td>
                    <td>{{geo.ModifiedBy}}</td>
                    <td>{{geo.ModifiedOn |  date : "dd-MM-yyyy"}}</td>
                    <td>
                            <button class="btn" style="padding: 0px;box-shadow: none;margin-right: 14px;" (click)="onEditClick(geo, i)"><img src="../../../assets/pencil.png" width="25px" title="Edit"></button>&nbsp;
                            <button class="btn" style="padding: 0px;box-shadow: none;" (click)="onDeleteClick($event, i)"><img src="../../../assets/delete.png" width="20px" title="Delete"></button>
                        </td>
                </tr>
            </tbody>
        </table>
        <div style="text-align: center;">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div>

<div *ngIf="error === 'Unknown Error'" style="padding: 50px;color: red;font-style: italic;text-align: center;">
    <p>Something went wrong. Please try again.</p>
</div>

<!-- New Geo Entry -->
<form [formGroup]="geoForm" (ngSubmit)="onSaveClick()">
    <div class="modal" id="newModal" [ngStyle]="{'display':display}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">New Geo</div>
                    <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()">
                        <span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">

                    <div class="form-group row">
                        <label for="GeoName" class="col-sm-4 col-form-label">Geo Name <Span style="color: red">*</Span></label>
                        <div class="col-sm-8">

                            <input type="text" formControlName="GeoName" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.GeoName.errors }" />
                            <div *ngIf="submitted && f.GeoName.errors" class="invalid-feedback">
                                <div *ngIf="f.GeoName.errors.required">Geo Name is required</div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="modal-footer">

                    <button class="btn btn-secondary" type="reset" (click)="onCloseHandled()">Cancel</button>

                    <button [disabled]="loading" class="btn btn-success">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Edit Geo -->
<form [formGroup]="editGeoForm" (ngSubmit)="onUpdateClick()">
    <div class="modal" id="editModal" [ngStyle]="{'display': editDisplay}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">Edit Geo</div>
                    <button type="button" class="close" aria-label="Close" (click)="onEditCloseHandled()">
                        <span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">

                    <div class="form-group row">
                        <label for="GeoID" class="col-sm-4 col-form-label">Geo ID</label>
                        <div class="col-sm-8">
                            <input type="text" formControlName="GeoID" class="form-control" readonly=""
                                [ngClass]="{ 'is-invalid': editSubmitted && fedit.GeoID.errors }" />
                            <div *ngIf="editSubmitted && fedit.GeoID.errors" class="invalid-feedback">
                                <div *ngIf="fedit.GeoID.errors.required">Geo ID is required</div>
                            </div>
                        </div>
                    </div>


                    <div class="form-group row">
                        <label for="GeoName" class="col-sm-4 col-form-label">Geo Name </label>
                        <div class="col-sm-8">
                            <input type="text" formControlName="GeoName" class="form-control"
                                [ngClass]="{ 'is-invalid': editSubmitted && fedit.GeoName.errors }" />
                            <div *ngIf="editSubmitted && fedit.GeoName.errors" class="invalid-feedback">
                                <div *ngIf="fedit.GeoName.errors.required">Geo Name is required</div>
                            </div>
                        </div>
                    </div>
                    <input type="text" formControlName="CreatedBy" [(ngModel)]="createdBy" class="form-control"  style="display: none"/>
                    <input type="text" formControlName="modifiedBy" [(ngModel)]="modifiedBy"class="form-control"  style="display: none"/>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="reset" (click)="onEditCloseHandled()">Cancel</button>

                    <button [disabled]="editLoading" class="btn btn-success">
                        <span *ngIf="editLoading" class="spinner-border spinner-border-sm mr-1"></span>
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Delete Geo -->
<form [formGroup]="deleteGeoForm" (ngSubmit)="onDeleteConfirmClick()">
    <div class="modal" id="deleteModal" [ngStyle]="{'display': deleteDisplay}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">Delete Geo</div>
                    <button type="button" class="close" aria-label="Close" (click)="onDeleteCloseHandled()">
                        <span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div>Are you sure to delete this Geo?</div><br>

                    <div class="form-group row">
                        <label for="GeoID" class="col-sm-4 col-form-label">Geo ID</label>
                        <div class="col-sm-8">
                            <input type="text" formControlName="GeoID" class="form-control" readonly=""
                                [ngClass]="{ 'is-invalid': deleteSubmitted && fdelete.GeoID.errors }" />
                            <div *ngIf="deleteSubmitted && fdelete.GeoID.errors" class="invalid-feedback">
                                <div *ngIf="fdelete.GeoID.errors.required">Role ID is required</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="GeoName" class="col-sm-4 col-form-label">Role Name</label>
                        <div class="col-sm-8">
                            <input type="text" formControlName="GeoName" class="form-control" readonly=""
                                [ngClass]="{ 'is-invalid': deleteSubmitted && fdelete.GeoName.errors }" />
                            <div *ngIf="deleteSubmitted && fdelete.GeoName.errors" class="invalid-feedback">
                                <div *ngIf="fdelete.GeoName.errors.required">Geo Name is required</div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="reset" (click)="onDeleteCloseHandled()">Cancel</button>

                    <button [disabled]="deleteLoading" class="btn btn-danger">
                        <span *ngIf="deleteLoading" class="spinner-border spinner-border-sm mr-1"></span>
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>