<div  [class.hidden]="!show" >
    <div class="loader-overlay">
        <div *ngIf="show" class="loader"></div>
        <div *ngIf="show" class="text-center">Loading... Please wait...</div>
        
    </div>
</div>




