<nav>
    <ol class="breadcrumb">
        <!-- <li class="breadcrumb-item"><a routerLink="/">Home</a></li> -->
        <li class="breadcrumb-item active">Deal Collaborator</li>
    </ol>
</nav>


    <!-- Create Box and Search Box Starts -->
    <div class="col-xl-12">
        <div class="form-group row">


            <!-- <label for="drpSearchBy" class="col-form-label col-md-6 col-lg-2 offset-xl-1 col-xl-2 text-right">Search
                by:</label>

            <div class="col-md-6 col-lg-4 col-xl-3">
                <select class="form-control" id="drpSearchBy" name="SearchBy">
                    <option value="countryName" selected="true">Country Name</option>
                </select>
            </div> -->

            <!-- <label for="textSearchText" class="col-form-label col-md-6 col-lg-2 col-xl-1 text-right">Search:</label> -->

            <div class="col-md-6 col-lg-4 col-xl-3" *ngIf="error !== 'Unknown Error'">
                    <div class="input-group">
                            <input type="text" class="form-control" id="txtSearchText" name="searchtext" placeholder="Start filtering.."
                            [(ngModel)]="searchtext">
                      </div>
            </div>
        </div>
    </div>
    <!-- Create Box and Search Box Ends -->

    <div class="table-responsive" *ngIf="error !== 'Unknown Error'">

        <div class="col-xl-12">
            <table class="table">
                <thead>
                    <!-- <th>Deal ID</th> -->
                    <!-- <th>Member Name</th> -->
                    <th style="width: 5%">Geo</th>
                    <th style="width: 5%">Country</th>
                    <th style="width: 5%">State</th>
                    <th style="width: 5%">Comment</th>
                    <th style="width: 10%">Time Line</th>
                    <th style="width: 5%">Registration Date</th>
                    <th style="width: 5%">Project</th>
                    <th style="width: 5%">Client</th>
                    <th style="width: 10%">Address</th>
                    <th style="width: 10%">Contact Person</th>
                    <th style="width: 15%">Deal Created By</th>
                    <!-- <th>Contact Person</th> -->
                    <th style="width: 10%">Status</th>
                    <!-- <th>Comments</th> -->

                    <th style="width: 10%">Actions</th>
                </thead>
                <tbody>
                    <tr *ngFor="let project of geos|filter:searchtext | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
                        <!-- <td>{{project.DealRegID}}</td> -->
                        <!-- <td>{{project.FirstName}}</td> -->
                        <td>{{project.GeoName}}</td>
                        <td>{{project.CountryName}}</td>
                        <td>{{project.StateName}}</td>
                        <td title="{{project.UserComments}}" style="width: 5%">
                            <p style="width: auto;
                            max-width: 200px;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;">{{project.UserComments}}</p>
                    </td>

                        <td>{{project.TimeLineName}}</td>
                        <td>{{project.DateOfReg|  date : "dd-MM-yyyy"}}</td>
                        <td>{{project.ProjectName}}</td>
                   

                        <td>{{project.ClientName}}</td>
                        <td>{{project.ClientAddress}}</td>
                        <td>{{project.ClientContactPerson}}</td>
                        <td>{{project.FirstName}}</td>
                        <!-- <td>{{project.ClientContactPerson}}</td> -->
                        <td *ngIf="project.DealStatusName ==='Approved'" style="color: green;font-weight: bold">{{project.DealStatusName|uppercase}}</td>
                        <td *ngIf="project.DealStatusName ==='Admin Approval Pending'" style="color:orange;font-weight: bold">{{project.DealStatusName|uppercase}}</td>
                        <td *ngIf="project.DealStatusName ==='Reject'" style="color: red;font-weight: bold">{{project.DealStatusName|uppercase}}</td>
                        <td *ngIf="project.DealStatusName ==='Partner Admin Approval  Pending'" style="color:blue;font-weight: bold;width: 10%">{{project.DealStatusName|uppercase}}</td>
                        <td *ngIf="project.DealStatusName ==='Auto Approved Partner Admin'" style="color:green;font-weight: bold;width: 10%">{{project.DealStatusName|uppercase}}</td>
                        <td *ngIf="project.DealStatusName ==='Auto Approved Admin'" style="color:green;font-weight: bold;width: 10%">{{project.DealStatusName|uppercase}}</td>    
                        <!-- <td>{{project.Comments}}</td> -->

                        <td>
                            <button class="btn" data-toggle="modal" data-target="#viewModel"
                                (click)="getAllDealMappedMemberInfo(project.DealRegID, project)" style="box-shadow:none;padding-left: 0px"><img src="../../../assets/view.png" width="25px" title="View deal and collaborator details"></button>&nbsp;&nbsp;&nbsp;

                            <button *ngIf="project.DealStatusName === 'Approved'" class="btn" data-toggle="modal" data-target="#addOrRemoveMemModal"
                                (click)="getAllDealMappedMemberInfo(project.DealRegID, project)" style="margin-left: -20px;box-shadow:none;padding-left: 0px;padding-top: 0px;"><img src="../../../assets/plusIcon.png" width="18px" title="Add or Remove Collaborator"></button>

                            <button id="disabled"  class="btn" disabled *ngIf="project.DealStatusName !== 'Approved'"
                                (click)="getAllDealMappedMemberInfo(project.DealRegID, project)" style="margin-left: -20px;box-shadow:none;padding-left: 0px;padding-top: 0px;"><img src="../../../assets/disabledPlusIcon.png" width="18px" title="No action allowed on Pending or Reject deal"></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div style="text-align: center;">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>
    </div>

    <div *ngIf="error === 'Unknown Error'" style="padding: 50px;color: red;font-style: italic;text-align: center;">
    <p>Something went wrong. Please try again.</p>
    </div>


    <div class="modal" role="dialog" id="addOrRemoveMemModal"  [ngStyle]="{'display':display}">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="width:700px">
                <div class="modal-header bg-primary text-white">
                    <div class="modal-title">Search Member</div>
                    <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="drpSearchBy" class="col-form-label col-3">Search by:</label>
                        <div class="col-9">
                            <select class="form-control" id="drpSearchBy" name="MemSearchBy" [(ngModel)]="MemSearchBy">
                                <option value="FirstName">Member First Name</option>
                                <option value="LastName">Member Last Name</option>
                                <option value="Email">Member Email</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="member_searchText" class="col-form-label col-3">Search:</label>
                        <div class="col-9">
                            <input type="text" class="form-control" id="member_searchText" name="member_searchText"
                                [(ngModel)]="member_searchText">
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-xl-12 mx-auto">
                            <div class="row">
                                <div class="table table-striped">
                                    <table class="table">
                                        <thead>
                                            <th>Member Name</th>
                                            <th>Member Email</th>
                                            <th>Action</th>
                                        </thead>
                                        <tbody>
                                            <tr
                                                *ngFor="let member of dealMappedUsers | filtering: MemSearchBy : member_searchText; let i = index">

                                                <td>
                                                    <p><strong>{{member.LastName}}</strong></p>
                                                </td>
                                                <td>
                                                    <p>{{member.Email}}</p>
                                                </td>
                                                <td>
                                                    <button *ngIf="member.dealMapStatus == 1 " class="btn btn-danger"
                                                        (click)="addOrRemoveSubscribe(member, 'remove',member.Email)">Remove Collaborator</button>&nbsp;
                                                    <button *ngIf="member.dealMapStatus == 0 " class="btn btn-success"
                                                        (click)="addOrRemoveSubscribe(member, 'add',member.Email)">Collaborator</button>&nbsp;
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- End Here -->

                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="reset" (click)="onCloseHandled()" data-dismiss="modal" >Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" role="dialog" id="viewModel" [ngStyle]="{'display':display}">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="width:700px">
                <div class="modal-header bg-primary text-white">
                    <div class="modal-title">Deal & Collaborator details</div>
                    <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <strong style="padding: 16px;">Deal Details: </strong>
                        <div class="col-xl-12">
                            <div class="row">
                                    <div class="col-md-6">
                                            <p>Deal ID : {{SELC_DEAL_DETAIS.DealRegID}}</p>
                                            <p>Date Of Registration : {{SELC_DEAL_DETAIS.DateOfReg |  date : "dd-MM-yyyy"}}</p>
                                            <p>Client Geo : {{SELC_DEAL_DETAIS.GeoName}}</p>
                                            <p>Client State : {{SELC_DEAL_DETAIS.StateName}}</p>
                                            <p>Contact Person  : {{SELC_DEAL_DETAIS.ClientContactPerson}}</p>
                                    </div>
                                    <div class="col-md-6">
                                            <p>Client Name : {{SELC_DEAL_DETAIS.ClientName}}</p>
                                            <p>Time Line  : {{SELC_DEAL_DETAIS.TimeLineName}}</p>
                                            <p>Client Country : {{SELC_DEAL_DETAIS.CountryName}}</p>
                                            <p>Client Address : {{SELC_DEAL_DETAIS.ClientAddress}}</p>
                                            <p>Client Status : {{SELC_DEAL_DETAIS.DealStatusName}}</p>
                                    </div>
                            </div>
                           
                   
                          
                            
                          
                           
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12 mx-auto">
                            <div class="row">
                                <div *ngIf="onlydealMappedUsers.length > 0" class="table table-striped">
                                    <table class="table">
                                        <thead>
                                            <th>Member Name</th>
                                            <th>Member Email</th>
                                            <th>Action</th>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let member of onlydealMappedUsers; let i = index">

                                                <td>
                                                    <p><strong>{{member.LastName}}</strong></p>
                                                </td>
                                                <td>
                                                    <p>{{member.Email}}</p>
                                                </td>
                                                <td>
                                                    <button *ngIf="member.dealMapStatus == 1 " class="btn btn-danger"
                                                        (click)="addOrRemoveSubscribe(member, 'remove')">Remove Collaborator</button>&nbsp;
                                                    <button *ngIf="member.dealMapStatus == 0 " class="btn btn-success"
                                                        (click)="addOrRemoveSubscribe(member, 'add')">Collaborator</button>&nbsp;
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div *ngIf="onlydealMappedUsers.length <= 0">
                                    <strong style="padding: 14px;color:red;">Currently No Collaborator</strong>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- End Here -->

                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="reset" (click)="onCloseHandled()" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>