<nav>
    <ol class="breadcrumb">
        <!-- <li class="breadcrumb-item"><a routerLink="/">Home</a></li> -->
        <!-- <li class="breadcrumb-item active">Deal Comments</li> -->
        <li class="breadcrumb-item active">Registered Deal Status</li>
    </ol>
</nav>


    <!-- Create Box and Search Box Starts -->
    <div class="col-xl-12">
      <div class="form-group row">
  
        <!-- <label for="drpSearchBy" class="col-form-label col-md-6 col-lg-2 offset-xl-1 col-xl-2 text-right">Search by:</label> -->
<!--   
        <div class="col-md-6 col-lg-4 col-xl-3">
            <select class="form-control" id="drpSearchBy" name="SearchBy" [(ngModel)]="searchBy">
                    <option value="client">Client</option>
                    <option value="project">Project</option>
            </select>
        </div> -->
  
        <!-- <label for="textSearchText" class="col-form-label col-md-6 col-lg-2 col-xl-1 text-right">Search:</label>
   -->
        <div class="col-md-6 col-lg-4 col-xl-3"  *ngIf="myDealDetails !== undefined"> 
          <div class="input-group">
                <input type="text" class="form-control" id="txtSearchText" name="searchtext" placeholder="Start filtering.."
                [(ngModel)]="searchtext">
          </div>
        </div>
      </div>
    </div>
    <!-- Create Box and Search Box Ends -->

<div class="table-responsive" *ngIf="error !== 'Unknown Error'">

    <div class="col-xl-12"  *ngIf="myDealDetails !== undefined">
        <table class="table">
            <thead>
                <th>Deal ID</th>
                <th>Geo</th>
                <th>Country</th>
                <th>State</th>
                <th>Comments</th>
                <th>Time Line</th>
                <th>Registered Date</th>
                <th>Project</th>
                <th>Client</th>
                <th>Client Address</th>
                <th>Client Contact Person</th>
                <th>Deal Created By</th>
                <th>Status</th>
                <!-- <th>Client Name</th>
                <th>Address</th>
                <th>Contact Person</th>
                <th>Status</th> -->
                <!-- <th>Comments</th> -->
               
                <th>Actions</th>
            </thead>
            <tbody>
                <tr *ngFor="let details of myDealDetails |filter:searchtext | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
                    <td>{{details.DealRegID}}</td>
                    <td>{{details.GeoName}}</td>
                    <td>{{details.CountryName}}</td>
                    <td>{{details.StateName}}</td>
                    <td>{{details.UserComments}}</td>
                    <td>{{details.TimeLineName}}</td>
                    <td>{{details.DateOfReg |  date : "dd-MM-yyyy"}}</td>
                    <td>{{details.ProjectName}}</td>
                    <td>{{details.ClientName}}</td>
                    <td>{{details.ClientAddress}}</td>
                    <td>{{details.ClientContactPerson}}</td>
                    <td>{{details.FirstName}}</td>
                    <td *ngIf="details.DealStatusName ==='Approved'" style="color: green;font-weight: bold">{{details.DealStatusName|uppercase}}</td>
                    <td *ngIf="details.DealStatusName ==='Admin Approval Pending'" style="color:orange;font-weight: bold">{{details.DealStatusName|uppercase}}</td>
                    <td *ngIf="details.DealStatusName ==='Reject'" style="color: red;font-weight: bold">{{details.DealStatusName|uppercase}}</td>
                    <td *ngIf="details.DealStatusName ==='Partner Admin Approval  Pending'" style="color: blue;font-weight: bold">{{details.DealStatusName|uppercase}}</td>
                    <td *ngIf="details.DealStatusName ==='Auto Approved Partner Admin'" style="color: green;font-weight: bold">{{details.DealStatusName|uppercase}}</td>
                    <td *ngIf="details.DealStatusName ==='Auto Approved Admin'" style="color: green;font-weight: bold">{{details.DealStatusName|uppercase}}</td>
                    
                    <!-- <td>{{project.ClientName}}</td>
                    <td>{{project.ClientAddress}}</td>
                    <td>{{project.ContactPerson}}</td>
                    <td>{{project.Status}}</td> -->
                    <!-- <td>{{project.Comments}}</td> -->

                    <td>
                        <button class="btn"  style="box-shadow: none" data-toggle="modal" data-target="#editModal" (click)="getCommentId(details.DealRegID)"><img src="../../../assets/pencil.png" width="25px" title="Edit Comment"></button>&nbsp;
                        <!-- <button class="btn btn-info" data-toggle="modal" data-target="#editModal">Add</button>&nbsp;
                        <button class="btn btn-warning" data-toggle="modal" data-target="#deleteModal">Delete</button> -->
                    </td>
                </tr>
            </tbody>
        </table>
        <div style="text-align: center;">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>

    <div  class="col-xl-12" *ngIf="myDealDetails === undefined" style="text-align: center;padding-top: 50px;">
        <p style="color: red;font-style: italic;font-size: 16px" >No data found</p>
    </div>

</div>

<div *ngIf="error === 'Unknown Error'" style="padding: 50px;color: red;font-style: italic;text-align: center;">
<p>Something went wrong. Please try again.</p>
</div>

<form>
    <div class="modal" role="dialog" id="newModal">
        <div class="modal-dialog">
            <div class="modal-content" style="width:700px">
                <div class="modal-header">
                    <div class="modal-title">New Role</div>
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                </div>
                <div class="modal-body">

                    <div class="form-group row" style="display: none;">
                        <label for="txtNewProjectID" class="col-sm-4 col-form-label">Role ID</label>
                        <div class="col-sm-8">
                            <input type="text" id="txtNewProjectID" style="width:100px" class="form-control"
                                placeholder="Project ID" name="ProjectID" [(ngModel)]="newProject.projectID">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="txtNewProjectName" class="col-sm-4 col-form-label">Role Name</label>
                        <div class="col-sm-8">
                            <input type="text" id="txtNewProjectName" class="form-control" placeholder="Role Name"
                                name="ProjectName" [(ngModel)]="newProject.RoleName">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="txtRoleDescription" class="col-sm-4 col-form-label">Role Description</label>
                        <div class="col-sm-8">
                            <input type="text" id="txtRoleDescription" class="form-control"
                                placeholder="Role Description" name="ProjectName" [(ngModel)]="newProject.RoleDesc">
                        </div>
                    </div>

                    <div class="form-group row" style="display: none;">
                        <label for="txtNewDateOfStart" class="col-sm-4 col-form-label">Date of Start</label>
                        <div class="col-sm-8">
                            <input type="date" id="txtNewDateOfStart" style="width:150px" class="form-control"
                                placeholder="Date of Start" name="DateOfStart" [(ngModel)]="newProject.dateOfStart">
                        </div>
                    </div>

                    <div class="form-group row" style="display: none;">
                        <label for="txtTeamSize" class="col-sm-4 col-form-label">Team Size</label>
                        <div class="col-sm-8">
                            <input type="number" id="txtTeamSize" style="width:150px" class="form-control"
                                placeholder="Team Size" name="TeamSize" [(ngModel)]="newProject.teamSize">
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-warning" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-success" data-dismiss="modal">Save</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Edit Project -->
<form>
    <div class="modal" role="dialog" id="editModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">Edit Comment</div>
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                </div>
                <div class="modal-body">

                        <div class="form-group row">
                                <label for="txtEditRoleDescription" class="col-sm-4 col-form-label">Comments</label>
                                <div class="col-sm-8">
                                        <textarea rows="2" class="form-control" [(ngModel)]="editedComments" name ="editedComments"></textarea>
                                       
                                </div>
                            </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-warning" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-success" data-dismiss="modal" (click)="updateComment()">Update</button>
                </div>
            </div>
        </div>
    </div>
</form>


<!-- Delete Project -->
<!-- <form>
    <div class="modal" role="dialog" id="deleteModal">
        <div class="modal-dialog">
            <div class="modal-content" style="width:700px">
                <div class="modal-header">
                    <div class="modal-title">Delete Role</div>
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                </div>
                <div class="modal-body">

                    <div class="text-warning">Are you sure to delete this Role?</div>

                    <div class="form-group row" style="display: none;">
                        <label for="txtDeleteProjectID" class="col-sm-4 col-form-label">Role ID</label>
                        <div class="col-sm-8">
                            <input type="text" id="txtDeleteProjectID" style="width:100px"
                                class="form-control-plain-text" placeholder="Project ID" name="ProjectID"
                                [(ngModel)]="deleteProject.projectID" disabled="disabled">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="txtDeleteProjectName" class="col-sm-4 col-form-label">Role Name</label>
                        <div class="col-sm-8">
                            <input type="text" id="txtDeleteProjectName" class="form-control-plain-text"
                                placeholder="Role Name" name="ProjectName" value="Admin" disabled="disabled">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="txtDeleteRoleDescription" class="col-sm-4 col-form-label">Role Description</label>
                        <div class="col-sm-8">
                            <input type="text" id="txtDeleteRoleDescription" class="form-control-plain-text"
                                placeholder="Role Description" name="ProjectName"
                                [(ngModel)]="deleteProject.projectName" disabled="disabled">
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-warning" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-success" data-dismiss="modal"
                        (click)="onDeleteConfirmClick()">Delete</button>
                </div>
            </div>
        </div>
    </div>
</form> -->
