<nav>
    <ol class="breadcrumb">
        <!-- <li class="breadcrumb-item"><a routerLink="/">Home</a></li> -->
        <li class="breadcrumb-item active">New Deal Registration</li>
    </ol>
</nav>

<div class="row" *ngIf="error !== 'Unknown Error'" >
    <div class="col-md-6 offset-md-3 mt-3 mb-5">
        <div class="card mt-4">
            <div class="card-header bg-secondary text-white">
                <h3>Deal Registration</h3>
            </div>
            <div class="card-body">
                <form [formGroup]="clientForm" (ngSubmit)="onSaveClick()">

                    <div class="form-row">
                        <div class="form-group col">
                            <label>Customer Type?<Span style="color: red">*</Span></label>&nbsp;
                            <input type="radio" formControlName="customerType" (click)="onClickNewCustomer()" value="New"
                            [ngClass]="{ 'is-invalid': submitted && f.customerType.errors }"
                            name="customerType" [ngModel]="typeOfCustomer">
                            New &nbsp;
                            <input type="radio" formControlName="customerType" (click)="onClickExistingCustomer()"
                            [ngClass]="{ 'is-invalid': submitted && f.customerType.errors }"
                            value="Existing" name="customerType" [ngModel]="typeOfCustomer">
                            Existing
                            <div *ngIf="submitted && f.customerType.errors" class="invalid-feedback">
                                <div *ngIf="f.customerType.errors.required">Customer Type is required</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row" style="display: none;">
                        <div class="form-group col">
                            <label>Client</label>&nbsp;
                            <select class="form-control" formControlName="clientID">

                                <option [value]="" disabled>Please Select</option>
                                <option *ngFor="let client of clients" [value]="client.clientID">
                                    {{ client.name }}
                                </option>

                            </select>
   
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col">
                            <label>Geo <Span style="color: red">*</Span></label>
                            <select class="form-control" formControlName="geoID"
                                [ngClass]="{ 'is-invalid': submitted && f.geoID.errors }">

                                <option [ngValue]="" disabled>Please Select</option>
                                <option *ngFor="let geo of geos" [ngValue]="geo.geoID">
                                    {{ geo.geoName }}
                                </option>

                            </select>
                            <div *ngIf="submitted && f.geoID.errors" class="invalid-feedback">
                                <div *ngIf="f.geoID.errors.required">Geo is required</div>
                            </div>
                        </div>
                        <div class="form-group col">
                            <label>Project <Span style="color: red">*</Span></label>
                            <select class="form-control" formControlName="projectID"
                                [ngClass]="{ 'is-invalid': submitted && f.projectID.errors }">

                                <option [value]="" disabled>Please Select</option>
                                <option *ngFor="let project of projects" [value]="project.projectID">
                                    {{ project.projectName }}
                                </option>

                            </select>
                            <div *ngIf="submitted && f.projectID.errors" class="invalid-feedback">
                                <div *ngIf="f.projectID.errors.required">Project is required</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col">
                            <label>Country <Span style="color: red">*</Span></label>
                            <select class="form-control" formControlName="countryID" #select
                                (change)=onChangeCountry(select.value)
                                [ngClass]="{ 'is-invalid': submitted && f.countryID.errors }">

                                <option [value]="" disabled>Please Select</option>
                                <option *ngFor="let country of countries" [value]="country.countryID">
                                    {{ country.countryName }}
                                </option>

                            </select>
                            <div *ngIf="submitted && f.countryID.errors" class="invalid-feedback">
                                <div *ngIf="f.countryID.errors.required">Country is required</div>
                            </div>
                        </div>
                        <div class="form-group col">
                            <label>State</label>
                            <select class="form-control" formControlName="stateID"
                                [ngClass]="{ 'is-invalid': submitted && f.stateID.errors }">

                                <option [value]="" disabled>Please Select</option>
                                <option *ngFor="let state of states" [value]="state.stateID">
                                    {{ state.stateName }}
                                </option>

                            </select>
                            <!-- <div *ngIf="submitted && f.stateID.errors" class="invalid-feedback">
                                <div *ngIf="f.stateID.errors.required">State is required</div>
                            </div> -->
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col">
                            <label>Time Line <Span style="color: red">*</Span></label>
                            <select class="form-control" formControlName="timeLineID"
                                [ngClass]="{ 'is-invalid': submitted && f.timeLineID.errors }">

                                <option [value]="" disabled>Please Select</option>
                                <option *ngFor="let timeLine of timeLines" [value]="timeLine.timeLineID">
                                    {{ timeLine.timeLineName }}
                                </option>

                            </select>
                            <div *ngIf="submitted && f.timeLineID.errors" class="invalid-feedback">
                                <div *ngIf="f.timeLineID.errors.required">Time Line is required</div>
                            </div>
                        </div>
                        <div class="form-group col">
                            <label>Client Name <Span style="color: red">*</Span></label>
                            <input type="text" formControlName="name" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.name.errors }" (keyup)="onKeyUpClientName()"/>
                            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                <div *ngIf="f.name.errors.required">Client Name is required</div>
                            </div>
                            <div *ngIf="foundDuplicate" style="color: red;font-size: 12px;padding-top: 3px;">Client name already exist</div>
                        </div>
                        <!-- <div class="form-group col">
                            <label>Date Of Deal Registration <Span style="color: red">*</Span></label>

                            <input type="date" formControlName="dateOfReg" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.dateOfReg.errors }" />
                            <div *ngIf="submitted && f.dateOfReg.errors" class="invalid-feedback">
                                <div *ngIf="f.dateOfReg.errors.required">Date Of Deal Registration is required</div>
                            </div>
                        </div> -->
                    </div>

                    <!-- <div class="form-row" *ngIf="!IsNewCustomer"> -->
                    <div class="form-row">
                            <div class="form-group col">
                                    <label>Address </label>
                                    <textarea rows="2" formControlName="address" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.address.errors }"></textarea>
                                    <!-- <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                                    <div *ngIf="f.address.errors.required">Address is required</div>
                                    </div> -->
                                </div>
                            <div class="form-group col">
                                <label>Contact Person <Span style="color: red">*</Span></label>
                                <input type="text" formControlName="contactPerson" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.contactPerson.errors }" />
                                <div *ngIf="submitted && f.contactPerson.errors" class="invalid-feedback">
                                    <div *ngIf="f.contactPerson.errors.required">Contact Person is required</div>
                                </div>
                            </div>
                        
                    </div>

                    <div class="form-row">
                      

                        <div class="form-group col">
                            <label>Comments</label>
                            <textarea rows="2" formControlName="comments" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.comments.errors }"></textarea>
                        <div *ngIf="submitted && f.comments.errors" class="invalid-feedback">
                            <div *ngIf="f.comments.errors.required">Comments is required</div>
                        </div>
                   
                        </div>
                    </div>

                    <div class="text-center">
                        <button [disabled]="loading" class="btn btn-success mr-1">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            Register Now
                        </button>
                        <button class="btn btn-secondary" type="reset"  (click)="onReset()">Cancel</button>
                    </div>

                </form>
            </div>
            <div class="card-footer text-right">
                <div class="float-right">

                </div>
            </div>
        </div>

    </div>
</div>

<div *ngIf="error === 'Unknown Error'" style="padding: 50px;color: red;font-style: italic;text-align: center;">
    <p>Something went wrong. Please try again.</p>
</div>

<div class="modal" id="newModal" [ngStyle]="{'display':display}">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:700px">
            <div class="modal-header bg-primary text-white">
                <div class="modal-title">Search Client</div>
                <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()">
                    <span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">

                <!-- Start Here -->

                <div class="form-group row">
                    <label for="drpSearchBy" class="col-form-label col-3">Search by:</label>
                    <div class="col-9">
                        <select class="form-control" id="drpSearchBy" name="SearchBy" [(ngModel)]="searchBy">
                            <option value="name">Client Name</option>
                            <option value="address">Address</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="txtSearchText" class="col-form-label col-3">Search:</label>
                    <div class="col-9">
                        <input type="text" class="form-control" id="txtSearchText" name="SearchText"
                            [(ngModel)]="searchText">
                    </div>
                </div>

                <div class="row">

                    <div class="col-xl-12 mx-auto">
                        <div class="row">
                            <div class="table table-striped">
                                <table class="table">
                                    <thead>
                                        <th style="display: none;">ClientID</th>
                                        <th style="display: none;">GeoID</th>
                                        <th style="display: none;">CountryID</th>
                                        <th style="display: none;">StateID</th>
                                        <th>Client</th>
                                        <th>Action</th>
                                    </thead>
                                    <tbody>
                                        <tr
                                            *ngFor="let client of clients | filtering: searchBy : searchText; let i = index">

                                            <td style="display: none;">{{client.clientID}}</td>
                                            <td style="display: none;">{{client.geoID}}</td>
                                            <td style="display: none;">{{client.countryID}}</td>
                                            <td style="display: none;">{{client.stateID}}</td>
                                            <td>
                                                <p><strong>{{client.name}}</strong></p>
                                                <p>Address : {{client.address}}</p>
                                                <!-- <p>{{client.contactPerson}}</p> -->
                                            </td>
                                            <td>
                                                <button class="btn btn-warning"
                                                    (click)="onSelectClick($event, i)">Select</button>&nbsp;
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- End Here -->

            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="reset" (click)="onCloseHandled()">Cancel</button>
            </div>
        </div>
    </div>
</div>