<div class="row">

    <!-- <div class="col-lg-6 col-xl-5 col-md-9 mx-auto"> -->
        <div class="col-md-6 offset-md-3 mt-5">
           
            <!-- <div class="alert alert-danger col-md-12 mt-3 mb-0" *ngIf="error">
               {{error}} 
            </div> -->

        <!-- <app-alert></app-alert> -->
          
        <div class="card mt-4">

            <div class="card-header bg-secondary text-white">
                <h3>Member Login</h3>
            </div>
            <div class="card-body">
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="form-group form-row">
                        <label for="username" class="col-md-4 col-form-label">Email Address <Span style="color: red">*</Span></label>
                        <div class="col-md-8">
                            <input type="text" formControlName="username" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                <div *ngIf="f.username.errors.required">Email Address is required</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group form-row">
                        <label for="password" class="col-md-4 col-form-label">Password <Span style="color: red">*</Span></label>
                        <div class="col-md-8">
                            <input type="password" formControlName="password" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                <div *ngIf="f.password.errors.required">Password is required</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group form-row">
                        <label class="col-md-4 col-form-label"></label>
                        <div class="col-md-8">
                            <button [disabled]="loading" class="btn btn-primary">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                Login
                            </button>
                        </div>
                       
                    </div>
                </form>
            </div>
            <div class="card-footer text-right">

                <div class="float-left">
                    Not a member yet? <a routerLink="/register" class="btn btn-link">Register now.</a>
                </div>
                <div class="float-right">
                    <a routerLink="/lostPassword" class="btn btn-link">Forgot your password?</a>
                </div>
            </div>
        </div>
    </div>
</div>