<nav>
    <ol class="breadcrumb">
        <!-- <li class="breadcrumb-item"><a routerLink="/">Home</a></li> -->
        <li class="breadcrumb-item active">Deal Status</li>
    </ol>
</nav>


    <!-- Create Box and Search Box Starts -->
    <div class="col-md-12">
      <div class="form-group row">
  

        <!-- <label for="drpSearchBy" class="col-form-label col-md-6 col-lg-2 offset-xl-1 col-xl-2 text-right">Search by:</label>
  
        <div class="col-md-4">
          <select class="form-control" id="drpSearchBy" name="SearchBy">
            <option value="countryName" selected="true">Country Name</option>
          </select>
        </div>
        <label for="textSearchText" class="col-form-label col-md-6 col-lg-2 col-xl-1 text-right">Search:</label> -->
  
        <!-- <div class="col-md-4">
          <div class="input-group">
            <input type="text" class="form-control" id="txtSearchText" name="SearchText" [(ngModel)]="searchText" (keyup)="onSearchTextChange($event)">
          </div>
        </div> -->

        <!-- <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="input-group">
                        <input type="text" class="form-control" id="txtSearchText" name="searchtext" placeholder="Start filtering.."
                        [(ngModel)]="searchtext">
                  </div>
        </div> -->
      </div>
    </div>
    <!-- Create Box and Search Box Ends -->
 
<div class="row" *ngIf="error !== 'Unknown Error'">
    <div class="col-sm-4">
         <div class="input-group">
            <input type="text" class="form-control" id="txtSearchText" name="searchtext" placeholder="Start filtering.."
            [(ngModel)]="searchtext">
      </div>
    </div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4" style="text-align: right">
        <input type="submit" value="Approve" class="btn btn-success" (click)="openModal()">&nbsp;
        <input type="submit" value="Reject" class="btn btn-danger" (click)="openRejectModal()" >
    </div>
</div>
<br>
<div class="table-responsive" *ngIf="error !== 'Unknown Error'">

    <div class="col-xl-12">
        <table class="table" style="width: 100%">
            <thead>
                <th><input type="checkbox" (click) = "CheckAllOptions()" [checked]="selectedAll" value="Select All"></th>
                <!-- <th>Member Name</th> -->
                <th>Deal ID</th>
                <th style="width: 5%">Geo</th>
                <th style="width: 5%">Country</th>
                <th style="width: 5%">State</th>
                <th style="width: 10%">Comment</th>
                <th style="width: 10%">Time Line</th>
                <th style="width: 10%">Registration Date</th>
                <th style="width: 10%">Project</th>
                
                <th style="width: 10%">Client</th>
                <th style="width: 10%">Address</th>
                <th style="width: 10%">Contact Person</th>
                <th style="width: 15%">Deal Created By</th>
                <th style="width: 10%">Status</th>
                <!-- <th>Comments</th> -->
               
                <!-- <th>Actions</th> -->
            </thead>
            <tbody>
                <tr *ngFor="let project of geos |filter:searchtext| paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
                    <td><input type="checkbox" [(ngModel)]="project.selected" value="{{project.DealRegID}}" (change)="checkStatus($event)" ></td>
                    
                    <!-- <td>{{project.FirstName}}</td> -->

                    <td>{{project.DealRegID}}</td>
                    <td style="width: 5%">{{project.GeoName}}</td>
                    <td style="width: 5%">{{project.CountryName}}</td>
                    <td style="width: 5%">{{project.StateName}}</td>
                    <td title="{{project.UserComments}}" style="width: 10%">
                        <p style="width: auto;
                        max-width: 200px;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;">{{project.UserComments}}</p>
                    </td>
                    <td style="width: 10%">{{project.TimeLineName}}</td>
                    <td style="width: 10%">{{project.DateOfReg |  date : "dd-MM-yyyy"}}</td>
                    <td style="width: 10%">{{project.ProjectName}}</td>
                    <td style="width: 10%">{{project.ClientName}}</td>
                    <td style="width: 10%">{{project.ClientAddress}}</td>
                    <td style="width: 10%">{{project.ClientContactPerson}}</td>
                    <td style="width: 15%">{{project.FirstName}}</td>
                    <td *ngIf="project.DealStatusName ==='Approved'" style="color: green;font-weight: bold;width: 10%">{{project.DealStatusName|uppercase}}</td>
                    <td *ngIf="project.DealStatusName ==='Admin Approval Pending'" style="color:orange;font-weight: bold;width: 10%">{{project.DealStatusName|uppercase}}</td>
                    <td *ngIf="project.DealStatusName ==='Reject'" style="color: red;font-weight: bold;width: 10%">{{project.DealStatusName|uppercase}}</td>
                    <td *ngIf="project.DealStatusName ==='Partner Admin Approval  Pending'" style="color:blue;font-weight: bold;width: 10%">{{project.DealStatusName|uppercase}}</td>
                     <td *ngIf="project.DealStatusName ==='Auto Approved Partner Admin'" style="color: green;font-weight: bold;width: 10%">{{project.DealStatusName|uppercase}}</td>
                      <td *ngIf="project.DealStatusName ==='Auto Approved Admin'" style="color: green;font-weight: bold;width: 10%">{{project.DealStatusName|uppercase}}</td>
                    <!-- <td>{{project.Comments}}</td> -->

                    <!-- <td>
                        <button class="btn btn-success" data-toggle="modal" data-target="#editModal">View</button>&nbsp;
                        <button class="btn btn-info" data-toggle="modal" data-target="#editModal">Edit</button>&nbsp;
                        <button class="btn btn-warning" data-toggle="modal" data-target="#deleteModal">Delete</button>
                    </td> -->
                </tr>
            </tbody>
        </table>
        <div style="text-align: center;">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div>

<div *ngIf="error === 'Unknown Error'" style="padding: 50px;color: red;font-style: italic;text-align: center;">
    <p>Something went wrong. Please try again.</p>
</div>

<form>
    <div class="modal" role="dialog" id="newModal">
        <div class="modal-dialog">
            <div class="modal-content" style="width:700px">
                <div class="modal-header">
                    <div class="modal-title">New Role</div>
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                </div>
                <div class="modal-body">

                    <div class="form-group row" style="display: none;">
                        <label for="txtNewProjectID" class="col-sm-4 col-form-label">Role ID</label>
                        <div class="col-sm-8">
                            <input type="text" id="txtNewProjectID" style="width:100px" class="form-control"
                                placeholder="Project ID" name="ProjectID" [(ngModel)]="newProject.projectID">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="txtNewProjectName" class="col-sm-4 col-form-label">Role Name</label>
                        <div class="col-sm-8">
                            <input type="text" id="txtNewProjectName" class="form-control" placeholder="Role Name"
                                name="ProjectName" [(ngModel)]="newProject.RoleName">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="txtRoleDescription" class="col-sm-4 col-form-label">Role Description</label>
                        <div class="col-sm-8">
                            <input type="text" id="txtRoleDescription" class="form-control"
                                placeholder="Role Description" name="ProjectName" [(ngModel)]="newProject.RoleDesc">
                        </div>
                    </div>

                    <div class="form-group row" style="display: none;">
                        <label for="txtNewDateOfStart" class="col-sm-4 col-form-label">Date of Start</label>
                        <div class="col-sm-8">
                            <input type="date" id="txtNewDateOfStart" style="width:150px" class="form-control"
                                placeholder="Date of Start" name="DateOfStart" [(ngModel)]="newProject.dateOfStart">
                        </div>
                    </div>

                    <div class="form-group row" style="display: none;">
                        <label for="txtTeamSize" class="col-sm-4 col-form-label">Team Size</label>
                        <div class="col-sm-8">
                            <input type="number" id="txtTeamSize" style="width:150px" class="form-control"
                                placeholder="Team Size" name="TeamSize" [(ngModel)]="newProject.teamSize">
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-warning" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-success" data-dismiss="modal">Save</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Edit Project -->
<form>
    <div class="modal" role="dialog" id="editModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">Edit Role</div>
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                </div>
                <div class="modal-body">

                    <div class="form-group row" style="display: none;">
                        <label for="txtEditProjectID" class="col-sm-4 col-form-label">Project ID</label>
                        <div class="col-sm-8">
                            <input type="text" id="txtEditProjectID" style="width:100px" class="form-control-plain-text"
                                placeholder="Project ID" name="ProjectID" [(ngModel)]="editProject.projectID"
                                disabled="disabled">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="txtEditProjectName" class="col-sm-4 col-form-label">Role Name</label>
                        <div class="col-sm-8">
                            <input type="text" id="txtEditProjectName" class="form-control" placeholder="Role Name"
                                name="ProjectName" [(ngModel)]="editProject.RoleName">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="txtEditRoleDescription" class="col-sm-4 col-form-label">Role Description</label>
                        <div class="col-sm-8">
                            <input type="text" id="txtEditRoleDescription" class="form-control"
                                placeholder="Role Description" name="ProjectName" [(ngModel)]="editProject.RoleDesc">
                        </div>
                    </div>

                    <div class="form-group row" style="display: none;">
                        <label for="txtEditDateOfStart" class="col-sm-4 col-form-label">Date of Start</label>
                        <div class="col-sm-8">
                            <input type="date" id="txtEditDateOfStart" style="width:150px" class="form-control"
                                placeholder="Date of Start" name="DateOfStart" [(ngModel)]="editProject.dateOfStart">
                        </div>
                    </div>

                    <div class="form-group row" style="display: none;">
                        <label for="txtEditTeamSize" class="col-sm-4 col-form-label">Team Size</label>
                        <div class="col-sm-8">
                            <input type="number" id="txtEditTeamSize" style="width:150px" class="form-control"
                                placeholder="Team Size" name="TeamSize" [(ngModel)]="editProject.teamSize">
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-warning" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-success" data-dismiss="modal">Update</button>
                </div>
            </div>
        </div>
    </div>
</form>


<!-- Delete Project -->
<form>
    <div class="modal" role="dialog" id="deleteModal">
        <div class="modal-dialog">
            <div class="modal-content" style="width:700px">
                <div class="modal-header">
                    <div class="modal-title">Delete Role</div>
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                </div>
                <div class="modal-body">

                    <div >Are you sure to delete this Role?</div><br>

                    <div class="form-group row" style="display: none;">
                        <label for="txtDeleteProjectID" class="col-sm-4 col-form-label">Role ID</label>
                        <div class="col-sm-8">
                            <input type="text" id="txtDeleteProjectID" style="width:100px"
                                class="form-control-plain-text" placeholder="Project ID" name="ProjectID"
                                [(ngModel)]="deleteProject.projectID" disabled="disabled">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="txtDeleteProjectName" class="col-sm-4 col-form-label">Role Name</label>
                        <div class="col-sm-8">
                            <input type="text" id="txtDeleteProjectName" class="form-control-plain-text"
                                placeholder="Role Name" name="ProjectName" value="Admin" disabled="disabled">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="txtDeleteRoleDescription" class="col-sm-4 col-form-label">Role Description</label>
                        <div class="col-sm-8">
                            <input type="text" id="txtDeleteRoleDescription" class="form-control-plain-text"
                                placeholder="Role Description" name="ProjectName"
                                [(ngModel)]="deleteProject.projectName" disabled="disabled">
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-warning" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-success" data-dismiss="modal"
                        (click)="onDeleteConfirmClick()">Delete</button>
                </div>
            </div>
        </div>
    </div>
</form>


<!--View Comment -->
<form [formGroup]="commentForm">
    <div class="modal" role="dialog" id="viewApprovalModal" [ngStyle]="{'display':display}">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">Reason For Approval</div>
                    <button type="button" class="close" (click)="onCloseHandled()"><span>&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="adminComments" class="col-sm-4 col-form-label">Comments</label>
                        <div class="col-sm-8">
                            <textarea rows="2" class="form-control" formControlName="adminComments" [(ngModel)]="adminComments" name="adminComments" [ngClass]="{ 'is-invalid': submitted && f.adminComments.errors }"></textarea>
                            <div *ngIf="submitted && f.adminComments.errors" class="invalid-feedback">
                                <div *ngIf="f.adminComments.errors.required">Comments  is required</div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-warning" (click)="onCloseHandled()">Cancel</button>
                    <button class="btn btn-success"  (click)="approveOrRejectStatus('approve')">Update</button>
                </div>
            </div>
        </div>
    </div>
</form>


<form [formGroup]="commentRejectionForm">
    <div class="modal" role="dialog" id="viewRejectModal" [ngStyle]="{'display':rejectDisplay}">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">Reason For Rejection</div>
                    <button type="button" class="close" (click)="onCloseHandled()" ><span>&times;</span></button>
                </div>
                <div class="modal-body">

                    <div class="form-group row">
                        <label for="adminRejectComments" class="col-sm-4 col-form-label">Comments</label>
                        <div class="col-sm-8">
                            <textarea rows="2" class="form-control" formControlName="adminRejectComments" [(ngModel)]="adminRejectComments" name="adminRejectComments" [ngClass]="{ 'is-invalid': submitted && fr.adminRejectComments.errors }"></textarea>
                            <div *ngIf="submitted && fr.adminRejectComments.errors" class="invalid-feedback">
                                <div *ngIf="fr.adminRejectComments.errors.required">Comments  is required</div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-warning" (click)="onCloseHandled()" >Cancel</button>
                    <button class="btn btn-success"  (click) = "approveOrRejectStatus('reject')">Update</button>
                </div>
            </div>
        </div>
    </div>
</form>