<nav>
  <ol class="breadcrumb">
    <!-- <li class="breadcrumb-item"><a routerLink="/">Home</a></li> -->
    <li class="breadcrumb-item active">Country Master</li>
  </ol>
</nav>

<!-- Country Grid -->
<div class="table-responsive mt-4" *ngIf="error !== 'Unknown Error'">
  <div class="col-12 mx-auto tool-bar margin-bottom-10">
    <button type="button" class="btn btn-primary" (click)="openModal()">Create Country</button>
  </div>
  <div class="col-12 mx-auto">
    <table class="table">
      <thead>
        <th style="display: none;">Country ID</th>
        <th>Country Name</th>
        <th>Created By</th>
        <th>Created On</th>
        <th>Modified By</th>
        <th>Modified On</th>
        <th>Actions</th>
      </thead>
      <tbody>
        <tr *ngFor="let country of countries | paginate: { itemsPerPage: 100, currentPage: p }; let i = index">
          <td style="display: none;">{{country.countryID}}</td>
          <td title="{{country.countryName}}" style="width: 20%">
              <p style="width: auto;
              max-width: 300px;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;">{{country.countryName}}</p>
          </td>
          <td>{{country.CreatedBy}}</td>
          <td>{{country.CreatedOn |  date : "dd-MM-yyyy"}}</td>
          <td>{{country.ModifiedBy}}</td>
          <td>{{country.ModifiedOn |  date : "dd-MM-yyyy"}}</td>
          <td>
            <button class="btn" style="padding: 0px;box-shadow: none;margin-right: 14px;" (click)="onEditClick(country, i)"><img src="../../../assets/pencil.png" width="25px" title="Edit"></button>&nbsp;
            <button class="btn" style="padding: 0px;box-shadow: none;" (click)="onDeleteClick($event, i)">
                <img src="../../../assets/delete.png" width="20px" title="Delete">
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div style="text-align: center;">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>

<div *ngIf="error === 'Unknown Error'" style="padding: 50px;color: red;font-style: italic;text-align: center;">
  <p>Something went wrong. Please try again.</p>
</div>

<!-- New Geo Entry -->
<form [formGroup]="countryForm" (ngSubmit)="onSaveClick()">
  <div class="modal" id="newModal" [ngStyle]="{'display':display}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title">New Country</div>
          <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()">
            <span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">

          <div class="form-group row">
            <label for="countryName" class="col-sm-4 col-form-label">Country Name <Span style="color: red">*</Span></label>
            <div class="col-sm-8">

              <input type="text" formControlName="countryName" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.countryName.errors }" />
              <div *ngIf="submitted && f.countryName.errors" class="invalid-feedback">
                <div *ngIf="f.countryName.errors.required">Country Name is required</div>
              </div>
              <input type="text" formControlName="createdBy" [(ngModel)]="createdBy" class="form-control" style="display: none" />
              <input type="text" formControlName="modifiedBy" [(ngModel)]="modifiedBy"class="form-control" style="display: none" />

            </div>
          </div>

        </div>
        <div class="modal-footer">

          <button class="btn btn-secondary" type="reset" (click)="onCloseHandled()">Cancel</button>

          <button [disabled]="loading" class="btn btn-success">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
</form>

<!-- Edit Geo -->
<form [formGroup]="editCountryForm" (ngSubmit)="onUpdateClick()">
  <div class="modal" id="editModal" [ngStyle]="{'display': editDisplay}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title">Edit Country</div>
          <button type="button" class="close" aria-label="Close" (click)="onEditCloseHandled()">
            <span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">

          <div class="form-group row">
            <label for="countryID" class="col-sm-4 col-form-label">Country ID</label>
            <div class="col-sm-8">
              <input type="text" formControlName="countryID" class="form-control" readonly=""
                [ngClass]="{ 'is-invalid': editSubmitted && fedit.countryID.errors }" />
              <div *ngIf="editSubmitted && fedit.countryID.errors" class="invalid-feedback">
                <div *ngIf="fedit.countryID.errors.required">Country ID is required</div>
              </div>
            </div>
          </div>


          <div class="form-group row">
            <label for="countryName" class="col-sm-4 col-form-label">Country Name</label>
            <div class="col-sm-8">
              <input type="text" formControlName="countryName" class="form-control"
                [ngClass]="{ 'is-invalid': editSubmitted && fedit.countryName.errors }" />
              <div *ngIf="editSubmitted && fedit.countryName.errors" class="invalid-feedback">
                <div *ngIf="fedit.countryName.errors.required">Country Name is required</div>
              </div>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="reset" (click)="onEditCloseHandled()">Cancel</button>

          <button [disabled]="editLoading" class="btn btn-success">
            <span *ngIf="editLoading" class="spinner-border spinner-border-sm mr-1"></span>
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
</form>

<!-- Delete Geo -->
<form [formGroup]="deleteCountryForm" (ngSubmit)="onDeleteConfirmClick()">
  <div class="modal" id="deleteModal" [ngStyle]="{'display': deleteDisplay}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title">Delete Country</div>
          <button type="button" class="close" aria-label="Close" (click)="onDeleteCloseHandled()">
            <span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <div  >Are you sure to delete this Country?</div><br> 

          <div class="form-group row">
            <label for="countryID" class="col-sm-4 col-form-label">Country ID</label>
            <div class="col-sm-8">
              <input type="text" formControlName="countryID" class="form-control" readonly=""
                [ngClass]="{ 'is-invalid': deleteSubmitted && fdelete.countryID.errors }" />
              <div *ngIf="deleteSubmitted && fdelete.countryID.errors" class="invalid-feedback">
                <div *ngIf="fdelete.countryID.errors.required">Country ID is required</div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="countryName" class="col-sm-4 col-form-label">Country Name</label>
            <div class="col-sm-8">
              <input type="text" formControlName="countryName" class="form-control" readonly=""
                [ngClass]="{ 'is-invalid': deleteSubmitted && fdelete.countryName.errors }" />
              <div *ngIf="deleteSubmitted && fdelete.countryName.errors" class="invalid-feedback">
                <div *ngIf="fdelete.countryName.errors.required">Country Name is required</div>
              </div>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="reset" (click)="onDeleteCloseHandled()">Cancel</button>

          <button [disabled]="deleteLoading" class="btn btn-danger">
            <span *ngIf="deleteLoading" class="spinner-border spinner-border-sm mr-1"></span>
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</form>