<nav>
        <ol class="breadcrumb">
            <!-- <li class="breadcrumb-item"><a routerLink="/">Home</a></li> -->
            <li class="breadcrumb-item active">Change Password</li>
        </ol>
    </nav>
    <div class="col-lg-6 col-xl-5 col-md-9 mx-auto" *ngIf="error !== 'Unknown Error'">
           
        <div class="card mb-3 mt-4">
            <h4 class="card-header">Change Password</h4>
            <div class="card-body">
                    <form>
                   
                    <div class="form-group">
                        <label for="currentPassword">Current Password <span style="color: red">*</span></label>
                        <input type="password" class="form-control" [(ngModel)]="currentPassword" name="currentPassword">
                      
                    </div>
    
                    <div class="form-group">
                        <label for="newPassword">New Password <span style="color: red">*</span></label>
                        <input type="password" class="form-control" [(ngModel)]="newPassword" name="newPassword">
                      
                    </div>
    
                    <div class="form-group">
                        <label for="confirmPassword">Confirm Password <span style="color: red">*</span></label>
                        <input type="password" class="form-control" [(ngModel)]="confirmPassword" name="confirmPassword">
                      
                    </div>
    
                    <div class="form-group">
                        <button  class="btn btn-success float-center" (click)="changePassword()"> 
                            Save Changes
                        </button>
                    </div>
                 
                    <div *ngIf="false" class="alert alert-danger mt-3 mb-0">{{error}}</div>
    
                </form>
            </div>
        </div>
    </div>

    <div *ngIf="error === 'Unknown Error'" style="padding: 50px;color: red;font-style: italic;text-align: center;">
        <p>Something went wrong. Please try again.</p>
    </div>
