<app-loader></app-loader>
<!-- nav -->
<nav class="navbar navbar-expand-lg navbar-dark bg-info">
  <a class="navbar-brand" routerLink="/login">
    Deal Registration
  </a>

  <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- For  Left, Right, Center align
  class = "navbar-nav mr-auto" class = "navbar-nav ml-auto" class = "navbar-nav mx-auto" -->
  <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/register" routerLinkActive="active" *ngIf="!currentUser">Sign Up</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/login" routerLinkActive="active" *ngIf="!currentUser">Sign In</a>
      </li>

      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>
      </li> -->

      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="about" routerLinkActive="active">About</a>
      </li> -->

      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="contact" routerLinkActive="active">Contact</a>
      </li> -->



      <li class="nav-item dropdown" *ngIf="isAdmin && currentUser">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
          aria-expanded="false">Master List</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="/admin/role">Role</a>
          <!-- <a class="dropdown-item" routerLink="/admin/rolepermissions">Role Permission</a> -->
          <a class="dropdown-item" routerLink="/admin/geo">Geo</a>
          <a class="dropdown-item" routerLink="/admin/country">Country</a>
          <a class="dropdown-item" routerLink="/admin/state">State</a>
          <a class="dropdown-item" routerLink="/admin/timeline">Time Line</a>
          <a class="dropdown-item" routerLink="/admin/client">Client</a>
          <a class="dropdown-item" routerLink="/admin/project">Project</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/admin/dealstatus">Deal Status</a>
          <a class="dropdown-item" routerLink="/admin/sla">Deal SLA</a>
        </div>
      </li>

      <li class="nav-item dropdown" *ngIf="isAdmin && currentUser">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
          aria-expanded="false">  Actions</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="/admin/dashboard">Dash Board</a>
          <a class="dropdown-item" routerLink="/admin/memberreg">New Member Registration</a>
          <a class="dropdown-item" routerLink="/admin/newdealreg">New Deal Registration</a>

          <a class="dropdown-item" routerLink="/admin/memberdealstatus">Deal Status</a>
          <a class="dropdown-item" routerLink="/admin/dealcomments">Deal Comments</a>
          <a class="dropdown-item" routerLink="/admin/dealsubscribers">Deal Collaborator</a>
          <a class="dropdown-item" routerLink="/admin/report">Report</a>
          <a class="dropdown-item" routerLink="/admin/adminmanageusers">Manage Users</a>


          <div class="dropdown-divider"></div>
          <!-- <a class="dropdown-item" routerLink="/admin/managepassword">Manage Password</a> -->
          <a class="dropdown-item" routerLink="/admin/managepassword">Change Password</a>
        </div>
      </li>

      <li class="nav-item dropdown" *ngIf="!isAdmin && !isPartner && currentUser">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
          aria-expanded="false">Actions</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="/user/userdashboard">Dash Board</a>
          <a class="dropdown-item" routerLink="/user/userdealreg">New Deal Registration</a>
          <a class="dropdown-item" routerLink="/user/userdealregstatus">Registered Deal Status</a>
          <!-- <a class="dropdown-item" routerLink="/user/userdealregcomments">Deal Comments</a> -->
          <a class="dropdown-item" routerLink="/user/userdealregcomments">Deal Collaborator</a>
          <a class="dropdown-item" routerLink="/user/usermanageprofile">Manage Profile</a>

          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/changePassword">Change Password</a>
        </div>
      </li>

      <li class="nav-item dropdown" *ngIf="isPartner && currentUser">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
          aria-expanded="false">Actions</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="/partner/dashboard">Dash Board</a>
          <a class="dropdown-item" routerLink="/partner/partnerdealstatus">Deal Status</a>
          <!-- <a class="dropdown-item" routerLink="/user/userdealreg">New Deal Registration</a>
          <a class="dropdown-item" routerLink="/user/userdealregstatus">Registered Deal Status</a>
          <a class="dropdown-item" routerLink="/user/userdealregcomments">Deal Comments</a> 
          <a class="dropdown-item" routerLink="/user/userdealregcomments">Deal Collaborator</a>
          <a class="dropdown-item" routerLink="/user/usermanageprofile">Manage Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/changePassword">Change Password</a>-->
        </div>
      </li>


      <li class="nav-item" *ngIf="currentUser" style="margin-right: 50px;padding: 0 20px;">
        <a class="nav-link" routerLink="/login" routerLinkActive="active" (click)="logout()">Sign out</a>
      </li>

    </ul>
  </div>
</nav>



<!-- <app-navbar></app-navbar> -->

<!-- main app container -->
<div class="container-fluid">
<!-- <div style="display: none;">
  <app-alert></app-alert>
</div> -->
<app-alert></app-alert>

  <router-outlet></router-outlet>

</div>

<!-- <div class="jumbotron">
  <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div> -->


<!-- <div class="jumbotron">
  <div class="container">
    <div class="row">
       <div class="col-sm-6 offset-sm-2">
        <router-outlet></router-outlet>
       </div> 
       
    </div>
  </div>
</div> -->

<!-- <app-footer></app-footer> -->