<nav>
    <ol class="breadcrumb">
        <!-- <li class="breadcrumb-item"><a routerLink="/">Home</a></li> -->
        <li class="breadcrumb-item active">Time Line Master</li>
    </ol>
</nav>

<!-- Timeline Grid -->
<div class="table-responsive mt-4" *ngIf="error !== 'Unknown Error'">
    <div class="col-12 mx-auto tool-bar margin-bottom-10">
        <button type="button" class="btn btn-primary" (click)="openModal()">Create Time Line</button>
    </div>
    <div class="col-12 mx-auto">
        <table class="table">
            <thead>
                <th style="display: none;">Time Line ID</th>
                <th>Time Line Name</th>
                <th>Created By</th>
                <th>Created On</th>
                <th>Modified By</th>
                <th>Modified On</th>
                <th>Actions</th>
            </thead>
            <tbody>
                <tr *ngFor="let timeLine of timeLines | paginate: { itemsPerPage: 100, currentPage: p }; let i = index">
                    <td style="display: none;">{{timeLine.TimeLineID}}</td>
                    <td title="{{timeLine.timeLineName}}" style="width: 20%">
                            <p style="width: auto;
                            max-width: 300px;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;">{{timeLine.timeLineName}}</p>
                        </td>
                    <td>{{timeLine.CreatedBy}}</td>
                    <td>{{timeLine.CreatedOn |  date : "dd-MM-yyyy"}}</td>
                    <td>{{timeLine.ModifiedBy}}</td>
                    <td>{{timeLine.ModifiedOn |  date : "dd-MM-yyyy"}}</td>
                    <td>
                        <button class="btn" style="padding: 0px;box-shadow: none;margin-right: 14px;" (click)="onEditClick(timeLine, i)">
                                <img src="../../../assets/pencil.png" width="25px" title="Edit"></button>&nbsp;
                        <button class="btn" style="padding: 0px;box-shadow: none;" (click)="onDeleteClick($event, i)">
                                <img src="../../../assets/delete.png" width="20px" title="Delete">
                                </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div style="text-align: center;">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div>

<div *ngIf="error === 'Unknown Error'" style="padding: 50px;color: red;font-style: italic;text-align: center;">
<p>Something went wrong. Please try again.</p>
</div>

<!-- New Timeline Entry -->
<form [formGroup]="timeLineForm" (ngSubmit)="onSaveClick()">
    <div class="modal" id="newModal" [ngStyle]="{'display':display}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">New Time Line</div>
                    <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()">
                        <span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">

                    <div class="form-group row">
                        <label for="timeLineName" class="col-sm-4 col-form-label">Time Line Name <Span style="color: red">*</Span></label>
                        <div class="col-sm-8">

                            <input type="text" formControlName="timeLineName" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.timeLineName.errors }" />
                            <div *ngIf="submitted && f.timeLineName.errors" class="invalid-feedback">
                                <div *ngIf="f.timeLineName.errors.required">Time Line Name is required</div>
                            </div>

                            <input type="text" formControlName="createdBy" [(ngModel)]="createdBy" class="form-control" style="display: none" />
                            <input type="text" formControlName="modifiedBy" [(ngModel)]="modifiedBy"class="form-control" style="display: none" />

                        </div>
                    </div>

                </div>
                <div class="modal-footer">

                    <button class="btn btn-secondary" type="reset" (click)="onCloseHandled()">Cancel</button>

                    <button [disabled]="loading" class="btn btn-success">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Edit Timeline -->
<form [formGroup]="editTimeLineForm" (ngSubmit)="onUpdateClick()">
    <div class="modal" id="editModal" [ngStyle]="{'display': editDisplay}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">Edit Time Line</div>
                    <button type="button" class="close" aria-label="Close" (click)="onEditCloseHandled()">
                        <span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">

                    <div class="form-group row">
                        <label for="timeLineID" class="col-sm-4 col-form-label">Time Line ID</label>
                        <div class="col-sm-8">
                            <input type="text" formControlName="timeLineID" class="form-control" readonly=""
                                [ngClass]="{ 'is-invalid': editSubmitted && fedit.timeLineID.errors }" />
                            <div *ngIf="editSubmitted && fedit.timeLineID.errors" class="invalid-feedback">
                                <div *ngIf="fedit.timeLineID.errors.required">Time Line ID is required</div>
                            </div>
                        </div>
                    </div>


                    <div class="form-group row">
                        <label for="timeLineName" class="col-sm-4 col-form-label">Time Line Name</label>
                        <div class="col-sm-8">
                            <input type="text" formControlName="timeLineName" class="form-control"
                                [ngClass]="{ 'is-invalid': editSubmitted && fedit.timeLineName.errors }" />
                            <div *ngIf="editSubmitted && fedit.timeLineName.errors" class="invalid-feedback">
                                <div *ngIf="fedit.timeLineName.errors.required">Time Line Name is required</div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="reset" (click)="onEditCloseHandled()">Cancel</button>

                    <button [disabled]="editLoading" class="btn btn-success">
                        <span *ngIf="editLoading" class="spinner-border spinner-border-sm mr-1"></span>
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Delete TimeLine -->
<form [formGroup]="deleteTimeLineForm" (ngSubmit)="onDeleteConfirmClick()">
    <div class="modal" id="deleteModal" [ngStyle]="{'display': deleteDisplay}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">Delete Time Line</div>
                    <button type="button" class="close" aria-label="Close" (click)="onDeleteCloseHandled()">
                        <span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div>Are you sure to delete this Time Line?</div><br>

                    <div class="form-group row">
                        <label for="timeLineID" class="col-sm-4 col-form-label">Time Line ID</label>
                        <div class="col-sm-8">
                            <input type="text" formControlName="timeLineID" class="form-control" readonly=""
                                [ngClass]="{ 'is-invalid': deleteSubmitted && fdelete.timeLineID.errors }" />
                            <div *ngIf="deleteSubmitted && fdelete.timeLineID.errors" class="invalid-feedback">
                                <div *ngIf="fdelete.timeLineID.errors.required">Time Line ID is required</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="timeLineName" class="col-sm-4 col-form-label">Time Line Name</label>
                        <div class="col-sm-8">
                            <input type="text" formControlName="timeLineName" class="form-control" readonly=""
                                [ngClass]="{ 'is-invalid': deleteSubmitted && fdelete.timeLineName.errors }" />
                            <div *ngIf="deleteSubmitted && fdelete.timeLineName.errors" class="invalid-feedback">
                                <div *ngIf="fdelete.timeLineName.errors.required">Time Line Name is required</div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="reset" (click)="onDeleteCloseHandled()">Cancel</button>

                    <button [disabled]="deleteLoading" class="btn btn-danger">
                        <span *ngIf="deleteLoading" class="spinner-border spinner-border-sm mr-1"></span>
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>