<nav>
  <ol class="breadcrumb">
      <!-- <li class="breadcrumb-item"><a routerLink="/">Home</a></li> -->
      <li class="breadcrumb-item active">Role Master</li>
  </ol>
</nav>

<div class="table-responsive mt-4" *ngIf="error !== 'Unknown Error'">
  <div class="col-12 mx-auto tool-bar margin-bottom-10">
    <!-- <button class="btn btn-primary" data-toggle="modal" data-target="#newModal">Create Role</button> -->

    <button type="button" class="btn btn-primary" (click)="openModal()">Create Role</button>

  </div>
  <div class="col-12 mx-auto">
    <table class="table">
      <thead>
        <th style="display: none;">Role ID</th>
        <th>Role Name</th>
        <th>Role Description</th>
        <th>Created By</th>
        <th>Created On</th>
        <th>Modified By</th>
        <th>Modified On</th>
        <th>Actions</th>
      </thead>
      <tbody>
        <tr *ngFor="let role of roles | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
          <td style="display: none;">{{role.RoleID}}</td>
          <td>{{role.RoleName}}</td>
          <td>{{role.RoleDesc}}</td>
          <td>{{role.CreatedBy}}</td>
          <td>{{role.CreatedOn |  date : "dd-MM-yyyy"}}</td>
          <td>{{role.ModifiedBy}}</td>
          <td>{{role.ModifiedOn |  date : "dd-MM-yyyy"}}</td> 
          <td>
            <!-- <button type="button" class="btn btn-primary" (click)="openModal()">Create Role</button> -->
            <div *ngIf="(role.RoleID) != 1">
              <button class="btn" style="padding: 0px;box-shadow: none;margin-right: 14px;" (click)="onEditClick(role, i)">
                <img src="../../../assets/pencil.png" width="25px" title="Edit"></button>
              <button class="btn" style="padding: 0px;box-shadow: none;" (click)="onDeleteClick(role)">
                <img src="../../../assets/delete.png" width="20px" title="Delete"></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div style="text-align: center;">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>

<div *ngIf="error === 'Unknown Error'" style="padding: 50px;color: red;font-style: italic;text-align: center;">
<p>Something went wrong. Please try again.</p>
</div>

<form [formGroup]="loginForm" (ngSubmit)="onSaveClick()">
  <div class="modal" id="newModal" [ngStyle]="{'display':display}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title">New Role</div>
          <!-- <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button> -->
          <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()">
            <span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">

          <div class="form-group row">
            <label for="txtRoleName" class="col-sm-4 col-form-label">Role Name <Span style="color: red">*</Span></label>
            <div class="col-sm-8">
              <!-- <input type="text" id="txtRoleName" required class="form-control" placeholder="Role Name"
                name="RoleName" [(ngModel)]="newRole.roleName"> -->

                <input type="text" formControlName="roleName" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.roleName.errors }" />
                <div *ngIf="submitted && f.roleName.errors" class="invalid-feedback">
                  <div *ngIf="f.roleName.errors.required">Role Name is required</div>
                </div>

            </div>
          </div>

          <div class="form-group row">
            <label for="txtRoleDesc" class="col-sm-4 col-form-label">Role Description</label>
            <div class="col-sm-8">
              <!-- <input type="text" id="txtRoleDesc" class="form-control" placeholder="Role Description"
                name="RoleDesc" [(ngModel)]="newRole.roleDesc"> -->

                
            <input type="text" formControlName="roleDesc" class="form-control"/>

            </div>
          </div>

        </div>
        <div class="modal-footer">

          <!-- <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Login
        </button> -->
        <!-- <button class="btn btn-warning" data-dismiss="modal">Cancel</button> -->
        <button class="btn btn-secondary" type="reset" (click)="onCloseHandled()">Cancel</button>
        
        <button [disabled]="loading" class="btn btn-success">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Save
        </button>
        </div>
      </div>
    </div>
  </div>
</form>

<!-- Edit Role -->
<form [formGroup]="editLoginForm" (ngSubmit)="onUpdateClick()">
  <div class="modal" id="editModal" [ngStyle]="{'display': editDisplay}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title">Edit Role</div>
          <button type="button" class="close" aria-label="Close" (click)="onEditCloseHandled()">
            <span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">

          <div class="form-group row">
            <label for="roleID" class="col-sm-4 col-form-label">Role ID</label>
            <div class="col-sm-8">
              <input readonly type="text" formControlName="roleID" class="form-control"/>
            </div>
          </div>


          <div class="form-group row">
            <label for="roleName" class="col-sm-4 col-form-label">Role Name</label>
            <div class="col-sm-8">
              <input type="text" formControlName="roleName" class="form-control"
                [ngClass]="{ 'is-invalid': editSubmitted && fedit.roleName.errors }" />
              <div *ngIf="editSubmitted && fedit.roleName.errors" class="invalid-feedback">
                <div *ngIf="fedit.roleName.errors.required">Role Name is required</div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="roleDesc" class="col-sm-4 col-form-label">Role Description</label>
            <div class="col-sm-8">
              <input type="text" formControlName="roleDesc" class="form-control"/>
            </div>
          </div>
          <input type="text" formControlName="createdBy" [(ngModel)]="createdBy" class="form-control"  style="display: none"/>
          <input type="text" formControlName="modifiedBy" [(ngModel)]="modifiedBy"class="form-control"  style="display: none"/>
         
        

        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="reset" (click)="onEditCloseHandled()">Cancel</button>
        
          <button [disabled]="editLoading" class="btn btn-success">
            <span *ngIf="editLoading" class="spinner-border spinner-border-sm mr-1"></span>
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
</form>

<!-- Delete Role -->
<form [formGroup]="deleteLoginForm" (ngSubmit)="onDeleteConfirmClick()">
  <div class="modal" id="deleteModal" [ngStyle]="{'display': deleteDisplay}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title">Delete Role</div>
          <button type="button" class="close" aria-label="Close" (click)="onDeleteCloseHandled()">
            <span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <div>Are you sure to delete this Role?</div><br>

        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="reset" (click)="onDeleteCloseHandled()">Cancel</button>
        
          <button [disabled]="deleteLoading" class="btn btn-danger">
            <span *ngIf="deleteLoading" class="spinner-border spinner-border-sm mr-1"></span>
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</form>