<nav>
    <ol class="breadcrumb">
        <!-- <li class="breadcrumb-item"><a routerLink="/">Home</a></li> -->
        <li class="breadcrumb-item active">State Master</li>
    </ol>
</nav>

<!-- Country Grid -->
<div class="table-responsive mt-4" *ngIf="error !== 'Unknown Error'">
    <div class="col-12 mx-auto tool-bar margin-bottom-10">
        <button type="button" class="btn btn-primary" (click)="openModal()">Create State</button>
    </div>
    <div class="col-12 mx-auto">
        <table class="table">
            <thead>
                <th style="display: none;">State ID</th>
                <th style="display: none;">Country ID</th>
                <th>Country Name</th>
                <th>State Name</th>
                <th>Created By</th>
                <th>Created On</th>
                <th>Modified By</th>
                <th>Modified On</th>
                <th>Actions</th>
            </thead>
            <tbody>
                <tr *ngFor="let state of states | paginate: { itemsPerPage: 100, currentPage: p }; let i = index">
                    <td style="display: none;">{{state.stateID}}</td>
                    <td style="display: none;">{{state.countryID}}</td>
                    <td>{{state.CountryName}}</td>
                    <td title="{{state.stateName}}" style="width: 20%">
                            <p style="width: auto;
                            max-width: 300px;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;">{{state.stateName}}</p>
                        </td>
                    <td>{{state.CreatedBy}}</td>
                    <td>{{state.CreatedOn |  date : "dd-MM-yyyy"}}</td>
                    <td>{{state.ModifiedBy}}</td>
                    <td>{{state.ModifiedOn |  date : "dd-MM-yyyy"}}</td>
                    <td>
                        <button class="btn" style="padding: 0px;box-shadow: none;margin-right: 14px;" (click)="onEditClick(state, i)"><img src="../../../assets/pencil.png" width="25px" title="Edit"></button>&nbsp;
                        <button class="btn" style="padding: 0px;box-shadow: none;" (click)="onDeleteClick($event, i)">
                                <img src="../../../assets/delete.png" width="20px" title="Delete">
                                </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div style="text-align: center;">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div>

<div *ngIf="error === 'Unknown Error'" style="padding: 50px;color: red;font-style: italic;text-align: center;">
<p>Something went wrong. Please try again.</p>
</div>

<!-- New State Entry -->
<form [formGroup]="stateForm" (ngSubmit)="onSaveClick()">
    <div class="modal" id="newModal" [ngStyle]="{'display':display}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">New State</div>
                    <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()">
                        <span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">

                    <div class="form-group row">
                        <label for="countryID" class="col-sm-4 col-form-label">Country <Span style="color: red">*</Span></label>
                        <div class="col-sm-8">

                            <select class="form-control" formControlName="countryID"
                            [ngClass]="{ 'is-invalid': submitted && f.countryID.errors }">

                            <option [ngValue]="null">Please Select</option>
                            <option *ngFor="let country of countries" [ngValue]="country.countryID">
                                {{ country.countryName }}
                            </option>
                            
                        </select>
                        <div *ngIf="submitted && f.countryID.errors" class="invalid-feedback">
                            <div *ngIf="f.countryID.errors.required">Country is required</div>
                        </div>

                        <input type="text" formControlName="createdBy" [(ngModel)]="createdBy" class="form-control" style="display: none" />
                        <input type="text" formControlName="modifiedBy" [(ngModel)]="modifiedBy"class="form-control" style="display: none" />
                            
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="stateName" class="col-sm-4 col-form-label">State Name <Span style="color: red">*</Span></label>
                        <div class="col-sm-8">

                            <input type="text" formControlName="stateName" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.stateName.errors }" />
                            <div *ngIf="submitted && f.stateName.errors" class="invalid-feedback">
                                <div *ngIf="f.stateName.errors.required">State Name is required</div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="modal-footer">

                    <button class="btn btn-secondary" type="reset" (click)="onCloseHandled()">Cancel</button>

                    <button [disabled]="loading" class="btn btn-success">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Edit State -->
<form [formGroup]="editStateForm" (ngSubmit)="onUpdateClick()">
    <div class="modal" id="editModal" [ngStyle]="{'display': editDisplay}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">Edit State</div>
                    <button type="button" class="close" aria-label="Close" (click)="onEditCloseHandled()">
                        <span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">

                    <div class="form-group row">
                        <label for="countryID" class="col-sm-4 col-form-label">Country</label>
                        <div class="col-sm-8">
                    
                            <select class="form-control" formControlName="countryID" disabled=""
                                [ngClass]="{ 'is-invalid': editSubmitted && fedit.countryID.errors }">
                    
                                <option [ngValue]="null">Please Select</option>
                                <option *ngFor="let country of countries" [ngValue]="country.countryID">
                                    {{ country.countryName }}
                                </option>
                    
                            </select>
                            <div *ngIf="editSubmitted && fedit.countryID.errors" class="invalid-feedback">
                                <div *ngIf="fedit.countryID.errors.required">Country is required</div>
                            </div>
                    
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="stateID" class="col-sm-4 col-form-label">State ID</label>
                        <div class="col-sm-8">
                            <input type="text" formControlName="stateID" class="form-control" readonly=""
                                [ngClass]="{ 'is-invalid': editSubmitted && fedit.stateID.errors }" />
                            <div *ngIf="editSubmitted && fedit.stateID.errors" class="invalid-feedback">
                                <div *ngIf="fedit.stateID.errors.required">State ID is required</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="stateName" class="col-sm-4 col-form-label">State Name </label>
                        <div class="col-sm-8">
                            <input type="text" formControlName="stateName" class="form-control"
                                [ngClass]="{ 'is-invalid': editSubmitted && fedit.stateName.errors }" />
                            <div *ngIf="editSubmitted && fedit.stateName.errors" class="invalid-feedback">
                                <div *ngIf="fedit.stateName.errors.required">State Name is required</div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="reset" (click)="onEditCloseHandled()">Cancel</button>

                    <button [disabled]="editLoading" class="btn btn-success">
                        <span *ngIf="editLoading" class="spinner-border spinner-border-sm mr-1"></span>
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Delete Geo -->
<form [formGroup]="deleteStateForm" (ngSubmit)="onDeleteConfirmClick()">
    <div class="modal" id="deleteModal" [ngStyle]="{'display': deleteDisplay}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">Delete State</div>
                    <button type="button" class="close" aria-label="Close" (click)="onDeleteCloseHandled()">
                        <span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div>Are you sure to delete this State?</div><br>

                    <div class="form-group row">
                        <label for="countryID" class="col-sm-4 col-form-label">Country</label>
                        <div class="col-sm-8">
                    
                            <select class="form-control" formControlName="countryID" disabled=""
                                [ngClass]="{ 'is-invalid': deleteSubmitted && fdelete.countryID.errors }">
                    
                                <option [ngValue]="null">Please Select</option>
                                <option *ngFor="let country of countries" [ngValue]="country.countryID">
                                    {{ country.countryName }}
                                </option>
                    
                            </select>
                            <div *ngIf="deleteSubmitted && fdelete.countryID.errors" class="invalid-feedback">
                                <div *ngIf="fdelete.countryID.errors.required">Country is required</div>
                            </div>
                    
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="stateID" class="col-sm-4 col-form-label">State ID</label>
                        <div class="col-sm-8">
                            <input type="text" formControlName="stateID" class="form-control" readonly=""
                                [ngClass]="{ 'is-invalid': deleteSubmitted && fdelete.stateID.errors }" />
                            <div *ngIf="deleteSubmitted && fdelete.stateID.errors" class="invalid-feedback">
                                <div *ngIf="fdelete.stateID.errors.required">State ID is required</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="stateName" class="col-sm-4 col-form-label">State Name </label>
                        <div class="col-sm-8">
                            <input type="text" formControlName="stateName" class="form-control" readonly=""
                                [ngClass]="{ 'is-invalid': deleteSubmitted && fdelete.stateName.errors }" />
                            <div *ngIf="deleteSubmitted && fdelete.stateName.errors" class="invalid-feedback">
                                <div *ngIf="fdelete.stateName.errors.required">State Name is required</div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="reset" (click)="onDeleteCloseHandled()">Cancel</button>

                    <button [disabled]="deleteLoading" class="btn btn-danger">
                        <span *ngIf="deleteLoading" class="spinner-border spinner-border-sm mr-1"></span>
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>