<div class="row">
    <div class="col-md-6 offset-md-3 mt-5">

       

        <div class="card mt-4">
            <div class="card-header bg-secondary text-white">
                <h3>Forgot Your Password?</h3>
            </div>

            <div class="card-body">
                <!-- <h4 class="card-title">Primary card title</h4> -->
                <p class="card-text">You can reset your password here.</p>
                <form>
                   
                    <div class="form-row">
                        <div class="form-group col">
                            <label>Email</label>
                            <input type="text"  class="form-control" [(ngModel)]="emailValue" name="emailValue">
                        
                        </div>
                    </div>

                    <div class="text-center">
                        <button [disabled]="loading" class="btn btn-primary" (click)="resetPassword()">
                            Reset Password
                        </button>
                    </div>

                </form>
            </div>
            <div class="card-footer text-right">

                <div class="float-left">
                    Not a member yet? <a routerLink="/register" class="btn btn-link">Register now.</a>
                </div>
                <div class="float-right">
                    Already a member? <a routerLink="/login">Login</a>
                </div>
            </div>
        </div>
    </div>
</div>