<nav>
    <ol class="breadcrumb">
        <!-- <li class="breadcrumb-item"><a routerLink="/">Home</a></li> -->
        <li class="breadcrumb-item active">Create a New Member</li>
    </ol>
</nav>

<div class="col-lg-6 col-xl-5 col-md-9 mx-auto" *ngIf="error !== 'Unknown Error'">

    <div class="card text-white ">
        <h4 class="card-header" style="background-color: gray">New Member Registration</h4>
        <div class="card-body" style="background-color: white ;color: black">
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="memberType">What type of user are you? <Span style="color: red">*</Span></label>
                    <select class="form-control" formControlName="memberType"
                    [ngClass]="{ 'is-invalid': submitted && f.memberType.errors }">

                    <option [ngValue]="null">Please Select</option>
                    <option *ngFor="let role of roles" [ngValue]="role.roleID">
                        {{ role.roleName }}
                    </option>
                </select>
                <div *ngIf="submitted && f.memberType.errors" class="invalid-feedback">
                    <div *ngIf="f.memberType.errors.required">User type is required</div>
                </div>

                </div>
                <div class="form-group">
                    <label for="firstName">Full Name <Span style="color: red">*</Span></label>
                     <input type="text" formControlName="firstName" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                                <div *ngIf="f.firstName.errors.required">Full Name is required</div>
                            </div>
                  
                </div>

                <div class="form-group col" style="display: none">
                        <label>Created by</label>
                        <input type="number" formControlName="createdBy" class="form-control" [(ngModel)]="createdBy" />
                </div>
              
                <!-- <div class="form-group">
                    <label for="username">Phone Number</label>
                    <input type="text"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                  
                </div> -->
                <div class="form-group">
                    <label for="username">Email <Span style="color: red">*</Span></label>
                    <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                <div *ngIf="f.username.errors.required">Email is required</div>
                                <div *ngIf="f.username.errors.email">Email must be a valid email address</div>
                            </div>
                  
                </div>
                <div class="form-group">
                    <label for="password">Password <Span style="color: red">*</Span></label>
                    <input type="password" formControlName="password" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password">Confirm Password <Span style="color: red">*</Span></label>
                     <input type="password" formControlName="confirmPassword" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                            <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                                <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                                <!-- <div *ngIf="f.confirmPassword.errors.minlength">Confirm Password must be at least 6 characters</div> -->
                                <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                            </div>
                   
                </div>
                <div class="form-group">
                    <button  class="btn btn-success float-center">
                        Register Now
                    </button>
                </div>
             
                <div *ngIf="false" class="alert alert-danger mt-3 mb-0">{{error}}</div>

            </form>
        </div>
        <div class="card-footer text-right" style="background-color: lightgray">
            <div class="float-right">
                 <a routerLink="/admin/memberreg"></a>
            </div>
        </div>
    </div>
</div>

<div *ngIf="error === 'Unknown Error'" style="padding: 50px;color: red;font-style: italic;text-align: center;">
        <p>Something went wrong. Please try again.</p>
</div>