/* You can add global styles to this file, and also import other style files */
.table td, .table th {
    padding: .3rem !important;
}
.table td input[type=checkbox],
.table th input[type=checkbox]
{
  -ms-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
  cursor: pointer;
  margin: 0px 10px;
}
.margin-bottom-10{
    margin-bottom: 10px;
}