<nav>
        <ol class="breadcrumb">
            <!-- <li class="breadcrumb-item"><a routerLink="/">Home</a></li> -->
            <!-- <li class="breadcrumb-item active">Deal Comments</li> -->
            <li class="breadcrumb-item active">Manage Profile</li>
        </ol>
    </nav>
    
<!-- View User -->
<div class="row"  style="margin-top: 50px;padding: 0 5%;"  *ngIf="error !== 'Unknown Error'">
    <div class="col-md-12" style="padding: 0px;">
            <div class="table-responsive">

                            <div class="col-md-12" style="padding: 0px;">
                                    <table class="table">
                                    <thead>   
                                            <th style="width: 5%">No</th>                    
                                            <th style="width: 20%">First Name</th>
                                            <th style="width: 20%">Last Name</th>
                                            <th style="width: 15%">Email</th>
                                            <th style="width: 15%">Phone Number</th>
                                            <th style="width: 15%">Registered Date</th>
                                         
                                            <th style="width: 10%">Actions</th>
                                            <!-- <th>Status</th> -->
                            
                                    </thead>
                                    <tbody>
                                            <tr *ngFor="let details of user | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
                                            <!-- <td>{{details.s}}</td> -->
                                           <td>{{i+1}}</td> 
                                           <td title="{{details.FirstName}}" style="width: 20%">
                                                                    <p style="width: auto;
                                                                    max-width: 200px;
                                                                    text-overflow: ellipsis;
                                                                    white-space: nowrap;
                                                                    overflow: hidden;">{{details.FirstName}}</p>
                                            </td>

                                            <td title="{{details.LastName}}" style="width: 20%">
                                                        <p style="width: auto;
                                                        max-width: 200px;
                                                        text-overflow: ellipsis;
                                                        white-space: nowrap;
                                                        overflow: hidden;">{{details.LastName}}</p>
                                            </td>

                                            <td title="{{details.Email}}" style="width: 15%">
                                            <p style="width: auto;
                                            max-width: 200px;
                                            text-overflow: ellipsis;
                                            white-space: nowrap;
                                            overflow: hidden;">{{details.Email}}</p>
                                            </td>

                                            <td title="{{details.PhoneNumber}}" style="width: 15%">
                                            <p style="width: auto;
                                            max-width: 200px;
                                            text-overflow: ellipsis;
                                            white-space: nowrap;
                                            overflow: hidden;">{{details.PhoneNumber}}</p>
                                            </td>

                                            <td>{{details.CreatedOn |date : "dd-MM-yyyy"}}</td>
                                           
                                            <td><button style="box-shadow: none" class="btn" data-toggle="modal" data-target="#editModal" (click)="editUser(details)"><img src="../../../assets/pencil.png" width="25px;" title="Edit Profile"></button></td>
                     
                                            </tr>
                                    </tbody>
                                    </table>
                                    <!-- <div style="text-align: center;">
                                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                                    </div> -->
                            </div>
            </div>
    </div>
</div>


<div *ngIf="error === 'Unknown Error'" style="padding: 50px;color: red;font-style: italic;text-align: center;">
        <p>Something went wrong. Please try again.</p>
</div>
        

<!-- Edit User -->
<form>
    <div class="modal" role="dialog" id="editModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">Edit Profile</div>
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                </div>
                <div class="modal-body">

            

                    <div class="form-group row">
                        <label for="txtEditProjectID" class="col-sm-4 col-form-label">First Name</label>
                        <div class="col-sm-8">
                            <input type="text"  class="form-control"
                                name="edited.FirstName" [(ngModel)]="edited.FirstName">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="txtEditProjectName" class="col-sm-4 col-form-label">Last Name</label>
                        <div class="col-sm-8">
                            <input type="text"  class="form-control"
                                name="edited.LastName" [(ngModel)]="edited.LastName">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="txtEditRoleDescription" class="col-sm-4 col-form-label">Email</label>
                        <div class="col-sm-8">
                            <input type="text"  class="form-control"
                                name="edited.Email" [(ngModel)]="edited.Email">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="txtEditDateOfStart" class="col-sm-4 col-form-label">Phone Number</label>
                        <div class="col-sm-8">
                            <input type="number"   class="form-control"
                                name="edited.PhoneNumber" [(ngModel)]="edited.PhoneNumber">
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button class="btn btn-warning" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-success" data-dismiss="modal" (click)="updateProfile()">Update</button>
                </div>
            </div>
        </div>
    </div>
</form>
