<nav>
    <ol class="breadcrumb">
        <!-- <li class="breadcrumb-item"><a routerLink="/">Home</a></li> -->
        <li class="breadcrumb-item active">Project Master</li>
    </ol>
</nav>

<!-- Project Grid -->
<div class="table-responsive mt-4" *ngIf="error !== 'Unknown Error'">
    <div class="col-12 mx-auto tool-bar margin-bottom-10">
        <button type="button" class="btn btn-primary" (click)="openModal()">Create Project</button>
    </div>
    <div class="col-12 mx-auto">
        <table class="table">
            <thead>
                <th style="display: none;">Project ID</th>
                <th>Project Name</th>
                <th>Created By</th>
                <th>Created On</th>
                <th>Modified By</th>
                <th>Modified On</th>
                <th>Actions</th>
            </thead>
            <tbody>
                <tr *ngFor="let project of projects | paginate: { itemsPerPage: 100, currentPage: p }; let i = index">
                    <td style="display: none;">{{project.projectID}}</td>
                    <td title="{{project.projectName}}" style="width: 20%">
                            <p style="width: auto;
                            max-width: 300px;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;">{{project.projectName}}</p>
                        </td>
                    <td>{{project.CreatedBy}}</td>
                    <td>{{project.CreatedOn | date : "dd-MM-yyyy"}}</td>
                    <td>{{project.ModifiedBy}}</td>
                    <td>{{project.ModifiedOn | date : "dd-MM-yyyy"}}</td>
                    <td>
                        <button class="btn" style="padding: 0px;box-shadow: none;margin-right: 14px;" (click)="onEditClick(project, i)">
                                <img src="../../../assets/pencil.png" width="25px" title="Edit"></button>&nbsp;
                        <button class="btn"  style="padding: 0px;box-shadow: none;"(click)="onDeleteClick($event, i)"><img src="../../../assets/delete.png" width="20px" title="Delete"></button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div style="text-align: center;">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div>

<div *ngIf="error === 'Unknown Error'" style="padding: 50px;color: red;font-style: italic;text-align: center;">
<p>Something went wrong. Please try again.</p>
</div>

<!-- New Project Entry -->
<form [formGroup]="projectForm" (ngSubmit)="onSaveClick()">
    <div class="modal" id="newModal" [ngStyle]="{'display':display}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">New Project</div>
                    <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()">
                        <span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">

                    <div class="form-group row">
                        <label for="projectName" class="col-sm-4 col-form-label">Project Name <Span style="color: red">*</Span></label>
                        <div class="col-sm-8">

                            <input type="text" formControlName="projectName" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.projectName.errors }" />
                            <div *ngIf="submitted && f.projectName.errors" class="invalid-feedback">
                                <div *ngIf="f.projectName.errors.required">Project Name is required</div>
                            </div>
                            
                            <input type="text" formControlName="createdBy" [(ngModel)]="createdBy" class="form-control" style="display: none" />
                            <input type="text" formControlName="modifiedBy" [(ngModel)]="modifiedBy"class="form-control" style="display: none" />

                        </div>
                    </div>

                </div>
                <div class="modal-footer">

                    <button class="btn btn-secondary" type="reset" (click)="onCloseHandled()">Cancel</button>

                    <button [disabled]="loading" class="btn btn-success">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Edit Project -->
<form [formGroup]="editProjectForm" (ngSubmit)="onUpdateClick()">
    <div class="modal" id="editModal" [ngStyle]="{'display': editDisplay}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">Edit Project</div>
                    <button type="button" class="close" aria-label="Close" (click)="onEditCloseHandled()">
                        <span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">

                    <div class="form-group row">
                        <label for="projectID" class="col-sm-4 col-form-label">Project ID</label>
                        <div class="col-sm-8">
                            <input type="text" formControlName="projectID" class="form-control" readonly=""
                                [ngClass]="{ 'is-invalid': editSubmitted && fedit.projectID.errors }" />
                            <div *ngIf="editSubmitted && fedit.projectID.errors" class="invalid-feedback">
                                <div *ngIf="fedit.projectID.errors.required">Project ID is required</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="projectName" class="col-sm-4 col-form-label">Project Name</label>
                        <div class="col-sm-8">
                            <input type="text" formControlName="projectName" class="form-control"
                                [ngClass]="{ 'is-invalid': editSubmitted && fedit.projectName.errors }" />
                            <div *ngIf="editSubmitted && fedit.projectName.errors" class="invalid-feedback">
                                <div *ngIf="fedit.projectName.errors.required">Project Name is required</div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="reset" (click)="onEditCloseHandled()">Cancel</button>

                    <button [disabled]="editLoading" class="btn btn-success">
                        <span *ngIf="editLoading" class="spinner-border spinner-border-sm mr-1"></span>
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Delete Project -->
<form [formGroup]="deleteProjectForm" (ngSubmit)="onDeleteConfirmClick()">
    <div class="modal" id="deleteModal" [ngStyle]="{'display': deleteDisplay}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">Delete Project</div>
                    <button type="button" class="close" aria-label="Close" (click)="onDeleteCloseHandled()">
                        <span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div>Are you sure to delete this Project?</div><br>

                    <div class="form-group row">
                        <label for="projectID" class="col-sm-4 col-form-label">Project ID</label>
                        <div class="col-sm-8">
                            <input type="text" formControlName="projectID" class="form-control" readonly=""
                                [ngClass]="{ 'is-invalid': deleteSubmitted && fdelete.projectID.errors }" />
                            <div *ngIf="deleteSubmitted && fdelete.projectID.errors" class="invalid-feedback">
                                <div *ngIf="fdelete.projectID.errors.required">Project ID is required</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="projectName" class="col-sm-4 col-form-label">Project Name</label>
                        <div class="col-sm-8">
                            <input type="text" formControlName="projectName" class="form-control" readonly=""
                                [ngClass]="{ 'is-invalid': deleteSubmitted && fdelete.projectName.errors }" />
                            <div *ngIf="deleteSubmitted && fdelete.projectName.errors" class="invalid-feedback">
                                <div *ngIf="fdelete.projectName.errors.required">Project Name is required</div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="reset" (click)="onDeleteCloseHandled()">Cancel</button>

                    <button [disabled]="deleteLoading" class="btn btn-danger">
                        <span *ngIf="deleteLoading" class="spinner-border spinner-border-sm mr-1"></span>
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>