<nav>
    <ol class="breadcrumb">
        <!-- <li class="breadcrumb-item"><a routerLink="/">Home</a></li> -->
        <li class="breadcrumb-item active">Dashboard</li>
    </ol>
</nav>

<!-- <h5>Dashboard</h5> -->
<!-- <h6>{{ToDay | date : "d/M/y"}}</h6> -->
<div class="row" *ngIf="error !== 'Unknown Error'"> 

    <!-- Left Section -->
    <div class="col-lg-3 pb-3" style="background-color:#e9e6e6">
        <div class="row">
            <div class="col-11 text-white text-center mx-auto rounded pt-2 pb-2 font-weight-bold"
                style="background-color:#a39e9e; font-family:  'Arial Narrow Bold', sans-serif">
              {{firstName | uppercase}} 
                <!-- {{Designation | uppercase}} -->
            </div>
            <div class="col-12 text-center mt-2">
                <img src="../../../assets/user.png" width="120px">
            </div>
            <div class="col-12 text-center pt-2 pb-2 font-weight-bold" style="font-family: Tahoma">
               <p>Email Address: {{userName}}</p>
               <p>Role : {{role}}</p>
               <!-- <p>Created On : {{created_on| date: 'dd/MM/yyyy'}}</p> -->
                <!-- {{Username | lowercase}} -->
            </div>
            <div class="col-12 text-center pt-2 pb-2" style="font-family: Arial">SUMMARY</div>
            <div class="col-12 mb-3">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        NO. OF MEMBERS
                        <span class="badge badge-secondary badge-pill" style="font-size:13px">{{noOfMember}}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor = "let value of statusCount">
                        {{value.DealStatusName | uppercase}} DEALS
                        <span class="badge badge-secondary badge-pill" style="font-size:13px">{{value.NumberOfUser}}</span>
                    </li>
                   
                </ul>
            </div>
            <!-- <div class="col-12 text-center pt-2 pb-2" style="font-family: Arial">SUMMARY</div> -->
            <!-- <div class="col-12 mb-3">
                <ul class="list-group">
                  
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        APPROVED DEALS
                        <span class="badge badge-secondary badge-pill" style="font-size:13px">20</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        PENDING DEALS
                        <span class="badge badge-secondary badge-pill" style="font-size:13px">30</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        REJECTED DEALS
                        <span class="badge badge-secondary badge-pill" style="font-size:13px">40</span>
                    </li>
                </ul>
            </div> -->
        </div>
    </div>
    
    <!-- Middle Section -->
    <div class="col-lg-9">
        <div class="row">
            
            <div class="col-12 mx-auto mt-1 text-white text-center pt-2 pb-2 mx-2 rounded font-weight-bold"
                style="background-color:#718d97; font-family: 'Arial Narrow'">Summary 
            </div>
            <div class="col-12" *ngIf="countDetails !== undefined">
                <table class="table">
                    <tr>
                        <th>Region</th>
                        <th>Deal Registration Count</th>
                        <th>Clients Count</th>
                        <!-- <th>Members Count</th> -->
                    </tr>
                    <tr *ngFor="let value of countDetails">
                        <td>
                            <b>{{value.GeoName}}</b>
                        </td>
                        <td>
                            {{value.DealRegCount}}
                        </td>
                        <td>
                            {{value.clientCount}}
                        </td>
                        <!-- <td>
                            100
                        </td> -->
                    </tr>
    
                </table>
            </div>
            <div  class="col-12" *ngIf="countDetails === undefined" style="text-align: center;padding-top: 50px;">
              <p style="color: red;font-style: italic;font-size: 16px" >No data found</p>
            </div>
    
    
        </div>
    </div>
  
    <!-- Right section -->

    <!-- <div class="col-lg-3" style="background-color:#e9e6e6">
        <div class="row">
          <div class="col-11 mx-auto mt-1 text-white text-center pt-1 pb-2 mx-2 rounded font-weight-bold"
            style="background-color:#718d97; font-family: 'Arial Narrow'">CLIENTS</div>
          <div class="col-lg-12 pt-2">
            <div class="accordion" id="accordion1">
              <div class="card" *ngFor="let teamMembersGroup of TeamMembers; let i = index">
    
    
                <div class="card-header bg-secondary" id="card1">
                  <h2 class="mb-0">
                    <button class="btn btn-link text-white" type="button" data-toggle="collapse"
                      [attr.data-target]=" '#cardbody' + i ">{{teamMembersGroup.Region}}</button>
                  </h2>
                </div>
                <div [id]=" 'cardbody' + i " class="collapse" data-parent="#accordion1" [ngClass]="(i == 0)? 'show': '' ">
                  <div class="card-body">
    
                    <div *ngIf="i == 0; then firstTemplate; else secondTemplate">
    
                    </div>
    
                    <ng-template #firstTemplate>
                      <div class="card" *ngFor="let member of teamMembersGroup.Members">
                        <div class="card-header bg-primary text-white">#{{member.ID}} {{member.Name}}</div>
                        <div class="card-body">{{member.Status}}</div>
                      </div>
                    </ng-template>
    
                    <ng-template #secondTemplate>
                      <table class="table">
                        <thead>
                          <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Status</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let member of teamMembersGroup.Members">
                            <td>{{member.ID}}</td>
                            <td [style.color]=" (member.Status == 'Busy')? 'red': 'black' ">{{member.Name}}</td>
                            <td>{{member.Status}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </ng-template>
    
    
                  </div>
                </div>
    
    
              </div>
    
            </div>
          </div>
        </div>
      </div> -->
    
</div>

<div *ngIf="error === 'Unknown Error'" style="padding: 50px;color: red;font-style: italic;text-align: center;">
<p>Something went wrong. Please try again.</p>
</div>