<div class="row">

    <!-- <div class="col-lg-6 col-xl-5 col-md-9 mx-auto"> -->
    <div class="col-md-6 offset-md-3 mt-5 mb-5">
        <!-- <app-alert></app-alert> -->
        <!-- <div class="card text-white bg-primary mb-3 mt-4"> -->
        <div class="card mt-4">
            <div class="card-header bg-secondary text-white">
                <h3>Create Account</h3>
            </div>
            <div class="card-body">
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

                    <div class="form-row">
                        <div class="form-group col">
                            <label>What type of user are you? <Span style="color: red">*</Span></label>

                            <!-- 
              <select name="countryID" id="countryID" class="form-control" formControlName="countryID" [ngClass]="{
                'is-invalid': signUpForm.get('countryID').invalid && (signUpForm.get('countryID').dirty || signUpForm.get('countryID').touched || signUpForm.submitted),

                'is-valid': signUpForm.get('countryID').valid && (signUpForm.get('countryID').dirty || signUpForm.get('countryID').touched || signUpForm.submitted) }">
                <option value="null">Please Select</option>
                <option *ngFor="let country of countries" [value]="country.countryID">
                  {{country.countryName}}
                </option>
              </select>

                               -->
                            <select class="form-control" formControlName="memberType"
                            [ngClass]="{ 'is-invalid': submitted && f.memberType.errors }">

                            <option [ngValue]="null">Please Select</option>
                            <option *ngFor="let role of roles" [ngValue]="role.roleID">
                                {{ role.roleName }}
                            </option>
                            
                        </select>
                        <div *ngIf="submitted && f.memberType.errors" class="invalid-feedback">
                            <div *ngIf="f.memberType.errors.required">User type is required</div>
                        </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col">
                            <label>First Name <Span style="color: red">*</Span></label>
                            <input type="text" formControlName="firstName" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                            <div *ngIf="f.firstName.errors.required">First Name is required</div>
                        </div>
                        </div>
                        <div class="form-group col">
                            <label>Last Name <Span style="color: red">*</Span></label>
                            <input type="text" formControlName="lastName" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                            <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                        </div>
                        </div>
                    </div>
                    
                    <div class="form-row">
                        <div class="form-group col">
                            <label>Email <Span style="color: red">*</Span></label>
                            <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                <div *ngIf="f.username.errors.required">Email is required</div>
                                <div *ngIf="f.username.errors.email">Email must be a valid email address</div>
                            </div>
                        </div>
                        <div class="form-group col">
                            <label>Contact Number</label>
                            <input type="number" formControlName="contactNumber" class="form-control"  min="1" max="10"/>
                       
                        </div>
                    </div>
        
                    <div class="form-row">
                        <div class="form-group col">
                            <label>Password<Span style="color: red">*</Span></label>
                            <input type="password" formControlName="password" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                <div *ngIf="f.password.errors.required">Password is required</div>
                                <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                            </div>
                        </div>
                        <div class="form-group col">
                            <label>Confirm Password <Span style="color: red">*</Span></label>
                            <input type="password" formControlName="confirmPassword" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                            <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                                <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                                <!-- <div *ngIf="f.confirmPassword.errors.minlength">Confirm Password must be at least 6 characters</div> -->
                                <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                            </div>
                        </div>
                    </div>

                    <div class="text-center">
                        <button [disabled]="loading" class="btn btn-primary mr-1">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            Register Now
                        </button>
                        <button class="btn btn-warning" type="reset" (click)="onReset()">Cancel</button>
                        <!-- <a routerLink="/login" class="btn btn-link">Cancel</a> -->
                    </div>

                </form>
            </div>
            <div class="card-footer text-right">
                <div class="float-right">
                    Already a member? <a routerLink="/login">Login</a>
                </div>
            </div>
        </div>
       
    </div>
</div>